/* Footer immer */
.wom_footer div a {height:80px; display:block; float:left;}

.wom_footertext {
	clear: both;
	font-size: 14px;
	font-weight: normal;
	float: left;
	margin-top: 36px;
}
	
.wom_footer div a {	
	font-size: 11px;
	height: 45px;
	display: block;
	position: relative;
	padding: 5px;
	border: none;
	float: left;
	z-index: 1;
}
		
.wom_footer div.wom_bpartner a span {
    margin-left:0px; background:url(../pix_change/logo_partner.png) no-repeat 0 0px; 
    width:420px;
    height:80px;
    font-size:1px;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;	    
}
	
@media screen and (max-width: 450px){
    .wom_footer div.wom_bpartner a,
    .wom_footer div.wom_bpartner a span { 
        width:100%;
        background-size:100% auto;
    };
}