/* Footer immer */
.footertext  {clear:all; font-size:14px; float:left;margin-top:56px;}

/* Reihe 1 im Footer
    ZDF
    SPIEGEL
    ZEIT
    FAZ
    TAZ
    
    STERN    
    HB
    WIWO
    BILD
    FOCUS
    N24    
    MSN
    
    MERKUR
    ANTENNE


Im Jpg:
    ZDF
    SPIEGEL
    ZEIT
    FAZ
    STERN
    
    N24
    TAZ
    HB
    WIWO
    BILD
    
    FOCUS    
    ANTENNE
    MERKUR
    MSN

*/
div.footer {
    
}

div.footer div.fh {height:60px !important;display:block; float:left;}
div.footer div a {height:45px; display:block; float:left;}
div.footer div a span  {display:none;}
div.footer div a {z-index:-1;  filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); -webkit-filter:grayscale(100%); -ms-filter:grayscale(100%);}
div.footer div a:hover {filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale"); -webkit-filter:grayscale(0%); -ms-filter:grayscale(0%);}


div.footer div.b1 a {margin-left:0px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 0px; width:78px; height:45px;}
div.footer div.b2 a {margin-left:24px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -675px; width:33px; height:45px;}
div.footer div.b3 a {margin-left:24px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -45px; width:162px; height:45px;}
div.footer div.b4 a {margin-left:24px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -90px; width:158px; height:45px;}
div.footer div.b5 a {margin-left:24px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -135px; width:84px; height:45px;}
div.footer div.b6 a {margin-left:23px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -270px; width:166px; height:45px;}

div.footer div.b7 a {margin-left:0px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -180px; width:98px; height:45px;}
div.footer div.b8 a {margin-left:41px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -315px; width:104px; height:45px;}
div.footer div.b9 a {margin-left:48px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -360px; width:71px; height:45px;}
div.footer div.b10 a {margin-left:44px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -405px; width:50px; height:45px;}
div.footer div.b11 a {margin-left:48px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -450px; width:71px; height:45px;}
div.footer div.b12 a {margin-left:46px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -225px; width:72px; height:45px;}
div.footer div.b13 a {margin-left:40px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -585px; width:66px; height:45px;}

div.footer div.b14 a {margin-left:0px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -495px; width:68px; height:45px;}
div.footer div.b15 a {margin-left:35px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -540px; width:122px; height:45px;}
div.footer div.b16 a {margin-left:35px; background:url(../pix_change/logos_v1_03.png) no-repeat 0 -630px; width:122px; height:45px;}
