#wom.static_phone .wom_main_content div,
#wom.static_phone .wom_main_content h1,
#wom.static_phone .wom_main_content h4,
#wom.static_phone .wom_main_content p,
#wom.static_phone .wom_main_content form,
#wom.static_phone .wom_main_content ul.wom_ergebnis_list{
    padding-left: 4%;
    padding-right: 4%;
}

#wom.static_phone h1 {
    font-size: 25px;
}

.wom_logo a {display:block !important;}

#wom.static_phone .wom_main_content div.wom_thesen,
#wom.static_phone .wom_main_content div.wom_thesen h1,
#wom.static_phone .wom_main_content div.wom_thesen p,
#wom.static_phone .wom_main_content div.wom_thesen_vergleich div.wom_thesen_slider,
#wom.static_phone .wom_main_content div.wom_thesen_vergleich div.wom_thesen_slider div.wom_slider_border,
#wom.static_phone .wom_main_content div.wom_thesen_vergleich div.wom_thesen_slider div.wom_slider_border ul.wom_thesen_box div,
#wom.static_phone .wom_main_content div.wom_thesen_vergleich div.wom_thesen_slider div.wom_slider_border ul.wom_thesen_box div p{
    padding-left: 0;
    padding-right: 0;
}

#wom.static_phone .wom_main_content div.wom_thesen_vergleich div.wom_thesen_slider div.wom_slider_border ul.wom_thesen_box li{
    width:90%;
    padding-left:5%;
    padding-right:5%;
}

#wom.static_phone div.wom_thesen_vergleich div.wom_parteiantworten,
#wom.static_phone div.wom_thesen_vergleich div.wom_parteiantworten div.wom_antworten_box,
#wom.static_phone div.wom_thesen_vergleich div.wom_parteiantworten div.wom_antworten_box ul li div,
#wom.static_phone div.wom_thesen_vergleich div.wom_parteiantworten div.wom_antworten_box p {
    padding-left: 0;
    padding-right: 0;
}

#wom.static_phone .wom_main_content form p,
#wom.static_phone .wom_main_content ul.wom_ergebnis_list li div {
    padding-left: 0;
    padding-right: 0;
}

#wom.static_phone .wom_main_content ul.wom_ergebnis_list li div div.wom_info_box {
    padding-left:20px;
    padding-right:20px;
}



#wom.static_phone .wom_main_content ul.wom_ergebnis_list li div div.wom_info_box p {
    padding-left:0px;
    padding-right:0px;
}

#wom.static_tablet .wom_main_content {
    max-width:560px;
    margin:0px auto;
    width:100%;
    display:block;
}

/* Anzeige der Position Detailseite */
.wom_approved:before {background: url(../pix/iconie8/votum_pro.png) no-repeat scroll 32% 48%; background-size: 41% auto !important;}
.wom_negative:before {background: url(../pix/iconie8/votum_con.png) no-repeat scroll 50% 50%; background-size: 50% auto !important;}

#wom.static_desktop .wom_approved:before {background: url(../pix/iconie8/votum_pro.png) no-repeat scroll 32% 48%; background-size: 41% auto !important;}
#wom.static_desktop .wom_negative:before {background: url(../pix/iconie8/votum_con.png) no-repeat scroll 50% 50%; background-size: 50% auto !important;}


/* Vor Zurueck-Button Neustart*/
.wom_skip .wom_previous {background: url(../pix/iconie8/arrow_back.png) no-repeat}
.wom_skip .wom_previous:hover  {background: url(../pix/iconie8/arrow_back_hover.png) no-repeat}
.wom_skip .wom_next{background:url(../pix/iconie8/arrow_next.png) no-repeat 100% 2px;}
.wom_skip .wom_next:hover{background:url(../pix/iconie8/arrow_next_hover.png) no-repeat 100% 2px;}
.wom_skip .wom_neustart:before {background:url(../pix/iconie8/neustart.png) no-repeat scroll 0 2px;}
.wom_skip .wom_neustart:hover:before {background:url(../pix/iconie8/neustart_hover.png) no-repeat scroll 0 2px;}
.wom_breadcrumb a:before {background:url(../pix/iconie8/breadcrumb_black_zurueck.png) no-repeat 0 0;}
.wom_breadcrumb_list li:before {background:url(../pix/iconie8/breadcrumb_grey_inactive.png) no-repeat scroll 0 0;}
.wom_breadcrumb_list li.wom_active:before{background:url(../pix/iconie8/breadcrumb_black_weiter.png) no-repeat scroll 1px 0px;}
.wom_breadcrumb_list li.wom_first_position:before {background:none;}
.wom_breadcrumb_list li.wom_first_position a:before {background:none;}

#wom.static_desktop .wom_skip .wom_previous {background: url(../pix/iconie8/arrow_back.png) no-repeat}
#wom.static_desktop .wom_skip .wom_previous:hover  {background: url(../pix/iconie8/arrow_back_hover.png) no-repeat}
#wom.static_desktop .wom_skip .wom_next{background:url(../pix/iconie8/arrow_next.png) no-repeat 100% 2px;}
#wom.static_desktop .wom_skip .wom_next:hover{background:url(../pix/iconie8/arrow_next_hover.png) no-repeat 100% 2px;}
#wom.static_desktop .wom_skip .wom_neustart:before {background:url(../pix/iconie8/neustart.png) no-repeat scroll 0 2px;}
#wom.static_desktop .wom_skip .wom_neustart:hover:before {background:url(../pix/iconie8/neustart_hover.png) no-repeat scroll 0 2px;}
#wom.static_desktop .wom_breadcrumb a:before {background:url(../pix/iconie8/breadcrumb_black_zurueck.png) no-repeat 0 0;}
#wom.static_desktop .wom_breadcrumb_list li:before {background:url(../pix/iconie8/breadcrumb_grey_inactive.png) no-repeat scroll 0 0;}
#wom.static_desktop .wom_breadcrumb_list li.wom_active:before{background:url(../pix/iconie8/breadcrumb_black_weiter.png) no-repeat scroll 1px 0px;}
#wom.static_desktop .wom_breadcrumb_list li.wom_first_position:before {background:none;}
#wom.static_desktop .wom_breadcrumb_list li.wom_first_position a:before {background:none;}

.wom_skipper .wom_icon-arrow-right:before {content: ''; display: inline-block; width: 11px; height: 13px;background: url(../pix/iconie8/these_ueberspringen.png) no-repeat scroll 2px 3px;}
.wom_skipper:hover .wom_icon-arrow-right:before {background:url(../pix/iconie8/these_ueberspringen_over.png) no-repeat scroll 2px 3px; }
.wom_thesen a.wom_skipper:hover{color:#E45000;}

#wom.static_phone .wom_trigger {
    padding:0px !important;
}
#wom.static_phone .wom_skipper .wom_icon-arrow-right:before {content: ''; display: inline-block; width: 11px; height: 13px;background: url(../pix/iconie8/these_ueberspringen.png) no-repeat scroll 2px 3px;}
#wom.static_phone .wom_skipper:hover .wom_icon-arrow-right:before {background:url(../pix/iconie8/these_ueberspringen_over.png) no-repeat scroll 2px 3px; }
#wom.static_phone .wom_thesen a.wom_skipper:hover{color:#E45000;}


#wom.static_tablet .wom_skipper .wom_icon-arrow-right:before {content: ''; display: inline-block; width: 11px; height: 13px;background: url(../pix/iconie8/these_ueberspringen.png) no-repeat scroll 2px 3px;}
#wom.static_tablet .wom_skipper:hover .wom_icon-arrow-right:before {background:url(../pix/iconie8/these_ueberspringen_over.png) no-repeat scroll 2px 3px; }
#wom.static_tablet .wom_thesen a.wom_skipper:hover{color:#E45000;}

#wom.static_desktop .wom_skipper .wom_icon-arrow-right:before {content: ''; display: inline-block; width: 11px; height: 13px;background: url(../pix/iconie8/these_ueberspringen.png) no-repeat scroll 2px 3px;}
#wom.static_desktop .wom_skipper:hover .wom_icon-arrow-right:before {}

#wom.static_desktop .wom_skipper:hover .wom_icon-arrow-right:before {
    background:url(../pix/iconie8/these_ueberspringen_over.png) no-repeat 2px 3px !important; 
}

#wom.static_desktop .wom_thesen a.wom_skipper:hover{
    color:#E45000;
}


/* Auswertung zu der Detailseite */
.wom_link_zu_kommentare a:after {background:url(../pix/iconie8/zum_teaser.png) no-repeat right 5px;}
.wom_link_zu_kommentare a:hover:after {
    background:url(../pix/iconie8/zum_teaser_hover.png) no-repeat right 5px;
}

#wom.static_desktop .wom_link_zu_kommentare a:after {background:url(../pix/iconie8/zum_teaser.png) no-repeat right 5px;}
#wom.static_desktop .wom_link_zu_kommentare a:after:hover {background:url(../pix/iconie8/zum_teaser_hover.png) no-repeat right 5px !important;}

#wom.static_desktop .wom_link_zu_kommentare a:hover:after {
    background:url(../pix/iconie8/zum_teaser_hover.png) no-repeat right 5px !important;
}

/* Thesen-Fragen */
.wom_entscheidung a {padding-left:20px;padding-right:20px;}
#wom.static_desktop .wom_entscheidung a {padding-left:20px;padding-right:20px;}

/* Thesen-Gewichtung */

/* Star */
.wom_label_check:hover .wom_label_check span{background:url(../pix/iconie8/star_yellow_17px.png) no-repeat 0 0;}
.wom_trigger_active span.wom_star{background:url("../pix/iconie8/star_yellow_17px.png") no-repeat scroll 0 0 !important;}
.wom_thesen_points li a.wom_star_orange{ padding:0; background:url(../pix/iconie8/star_yellow_15px.png) no-repeat -1px -1px;}
.wom_thesen_points li.wom_active a.wom_star_orange,.wom_thesen_points li a.wom_star_orange:hover{background:url(../pix/iconie8/star_yellow_15px.png) no-repeat -1px -1px;}



/* Startseite */
.wom_welcome a:after{background: url(../pix/iconie8/start.png) no-repeat 0 0;}
.wom_welcome a:hover:after{background: url(../pix/iconie8/start_over.png) no-repeat 0 0;}

#wom.static_desktop .wom_welcome a:after{background: url(../pix/iconie8/start.png) no-repeat 0 0;}
#wom.static_desktop .wom_welcome a:hover:after{background: url(../pix/iconie8/start_over.png) no-repeat 0 0;}

#wom.static_tablet .wom_welcome a:after{background: url(../pix/iconie8/start.png) no-repeat 0 0;}
#wom.static_tablet .wom_welcome a:hover:after{background: url(../pix/iconie8/start_over.png) no-repeat 0 0;}
#wom.static_tablet .wom_welcome a:hover {color: #fff;}

/* Zusatzinformationen */
.wom_main_navi li.wom_kandidaten a:before {background:url(../pix/iconie8/icon_menue_wszw.png) no-repeat 3px 12px;}
.wom_main_navi li.wom_fakten a:before {background:url(../pix/iconie8/icon_menue_info.png) no-repeat 3px 12px;}
.wom_main_navi li.wom_material a:before {background:url(../pix/iconie8/icon_menue_unterricht.png) no-repeat 3px 12px;}
.wom_main_navi li.wom_faq a:before{background:url(../pix/iconie8/icon_menue_faq.png) no-repeat 3px 12px;}
.wom_main_navi li.wom_presse a:before{background:url(../pix/iconie8/icon_menue_presse.png) no-repeat 3px 10px;}   
.wom_main_navi li.wom_impressum a:before{background:url(../pix/iconie8/icon_menue_impressum.png) no-repeat 3px 14px;}

#wom.static_desktop .wom_main_navi li.wom_kandidaten a:before {background:url(../pix/iconie8/icon_menue_wszw.png) no-repeat 3px 12px;}
#wom.static_desktop .wom_main_navi li.wom_fakten a:before {background:url(../pix/iconie8/icon_menue_info.png) no-repeat 3px 12px;}
#wom.static_desktop .wom_main_navi li.wom_material a:before {background:url(../pix/iconie8/icon_menue_unterricht.png) no-repeat 3px 12px;}
#wom.static_desktop .wom_main_navi li.wom_faq a:before{background:url(../pix/iconie8/icon_menue_faq.png) no-repeat 3px 12px;}
#wom.static_desktop .wom_main_navi li.wom_presse a:before{background:url(../pix/iconie8/icon_menue_presse.png) no-repeat 3px 10px;}   
#wom.static_desktop .wom_main_navi li.wom_impressum a:before{background:url(../pix/iconie8/icon_menue_impressum.png) no-repeat 3px 14px;}

#wom.static_phone .wom_parteien_list li.wom_clone_pbox {width: 22% !important; margin-right: 2%;}

.wom_hidelink {display:none !important;}
#wom.static_tablet .wom_these_next.wom_hidelink {display:none !important;}
#wom.static_desktop .wom_these_next.wom_hidelink {display:none !important;}


.wom_ie8_neustart { height:81px !important}

.wom_my_votum .wom_my_balken:after {background:url(../pix/iconie8/user.png) no-repeat 7px 1px;}
#wom.static_desktop .wom_my_votum .wom_my_balken:after {background:url(../pix/iconie8/user.png) no-repeat 7px 1px;}

.wom_thesen_box .wom_info_link {background:url(../pix/iconie8/info.png) 5px 3px no-repeat;}
#wom.static_desktop .wom_thesen_box .wom_info_link {background:url(../pix/iconie8/info.png) 5px 3px no-repeat;}

.wom_thesen_number .wom_thesen_back {background:url("../pix/iconie8/arrow_back.png") no-repeat scroll center center;}
.wom_thesen_number .wom_thesen_next {background:url("../pix/iconie8/arrow_next.png") no-repeat scroll center center;}
#wom.static_phone .wom_thesen_number .wom_thesen_back {background:url("../pix/iconie8/arrow_back.png") no-repeat scroll center center;}
#wom.static_phone .wom_thesen_number .wom_thesen_next {background:url("../pix/iconie8/arrow_next.png") no-repeat scroll center center;}

.wom_thesen_number p.wom_dot_black{background:url("../pix/iconie8/dot_black_6px.png") no-repeat 0px center; padding-left:15px}
.wom_thesen_number p.wom_star_orange {background:url("../pix/iconie8/star_yellow_15px.png") no-repeat 0px center;; padding-left:15px}
#wom.static_desktop .wom_thesen_number p.wom_dot_black{background:url("../pix/iconie8/dot_black_6px.png") no-repeat 0px center; padding-left:15px}
#wom.static_desktop .wom_thesen_number p.wom_star_orange {background:url("../pix/iconie8/star_yellow_15px.png") no-repeat 0px center;; padding-left:15px}

#wom.static_tablet .wom_thesen_points li a.wom_star_orange {background:url("../pix/iconie8/star_yellow_11px.png") no-repeat scroll 0 0 !important;}
#wom.static_tablet .wom_thesen_points li.wom_active a.wom_star_orange {background:url("../pix/iconie8/star_yellow_13px.png") no-repeat scroll 0 0 !important;}
#wom.static_desktop .wom_thesen_points li a.wom_star_orange {background:url("../pix/iconie8/star_yellow_11px.png") no-repeat scroll 0 0 !important;}
#wom.static_desktop .wom_thesen_points li.wom_active a.wom_star_orange {background:url("../pix/iconie8/star_yellow_13px.png") no-repeat scroll 0 0 !important;}



#wom .wom_antworten_box p:before {background:none;display:none !important;width:0px}

#wom.static_phone .wom_antworten_box p:before {background:none;display:none !important}
#wom.static_tablet .wom_antworten_box p:before {background:none;display:none !important}
#wom.static_desktop .wom_antworten_box p:before {background:none;display:none !important;width:0px}

#wom .wom_antworten_box p {
    padding-left:0px !important;
}
/*.wom_antworten_box p span:before {background:url("../pix/iconie8/kommentar.png") no-repeat scroll 0px 4px !important;}*/

/*.wom_antworten_box p:before {background:url("../pix/iconie8/kommentar.png") no-repeat scroll 0px 0px !important;background-color:#8888ff}*/


#wom.static_phone .wom_antworten_box p span:before,
#wom.static_tablet .wom_antworten_box p span:before,
#wom.static_desktop .wom_antworten_box p span:before {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../pix/iconie8/kommentar.png");
    background-origin: padding-box;
    background-position: 0 4px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: inline-block;
    height: 23px;
    margin-right: 10px;
    width: 21px;
}

/*#wom.static_phone .wom_antworten_box p span:before {background:url("../pix/iconie8/kommentar.png") no-repeat scroll 0px 4px;background-color:#8888ff}
#wom.static_tablet .wom_antworten_box p:before {background:url("../pix/iconie8/kommentar.png") no-repeat scroll 0px 4px;background-color:#8888ff;display:inline-block !important;}
#wom.static_desktop .wom_antworten_box p:before {background:url("../pix/iconie8/kommentar.png") no-repeat scroll 0px 4px;background-color:#8888ff;display:inline-block !important;}
*/

.wom_thesen_box .wom_these_previous:before {background:url(../pix/iconie8/link_pfeil_links.png) no-repeat scroll 6px 4px;}
.wom_thesen_box .wom_these_next:after{background:url(../pix/iconie8/link_pfeil.png) no-repeat scroll 2px 4px;}

/**
 * Parteien-Boxen
 */
.wom_parteien_list .img {
    width: inherit;
}

.wom_parteien_list li{width: 18.0% !important; margin-top:5px;margin-right:5px}
.wom_parteien_list li.wom_box_4th {margin-right:5px}
.wom_parteien_list li.wom_box_5th {margin-right:0px}
.wom_parteien_list li div{width:480%; padding:20px; margin-top:35px; border:1px solid #000; /*background-color:#fff;*/ position:relative;}

#wom.static_phone .wom_parteien_list li{width: 23.5% !important; margin-top:5px;margin-right:1.5%}
#wom.static_phone .wom_parteien_list li div{width:380%; padding:20px; margin-top:35px; border:1px solid #000; /*background-color:#fff;*/ position:relative;}
#wom.static_phone .wom_parteien_list li.wom_box_4th {margin-right:0}
#wom.static_phone .wom_parteien_list li.wom_box_5th {margin-right:1.5%}

#wom.static_tablet .wom_parteien_list li{width: 18.0% !important; margin-top:5px;margin-right:5px}
#wom.static_tablet .wom_parteien_list li div{width:480%; padding:20px; margin-top:35px; border:1px solid #000; /*background-color:#fff;*/ position:relative;}

#wom.static_desktop .wom_parteien_list li{width: 18.0% !important; margin-top:5px;margin-right:5px}
#wom.static_desktop .wom_parteien_list li div{width:480%; padding:20px; margin-top:35px; border:1px solid #000; /*background-color:#fff;*/ position:relative;}

#wom.static_tablet .wom_parteien_list li.wom_box_4th {margin-right:5px}
#wom.static_tablet .wom_parteien_list li.wom_box_5th {margin-right:0px}

#wom.static_desktop .wom_parteien_list li.wom_box_4th {margin-right:5px}
#wom.static_desktop .wom_parteien_list li.wom_box_5th {margin-right:0px}


/* Wahlomat-Logo mit png-Fallback und dem Zurueck und Home-Button */
.svgie8 {display:block !important}
.svgnoie8 {display:none !important}

.wom_phone-header a.wom_link-back:before { background:url(../pix/iconie8/arrow_back.png) no-repeat scroll center center}
.wom_phone-header a.wom_link-back:hover:before {url(../pix/iconie8/arrow_back.png) no-repeat scroll center center}
.wom_phone-header a.wom_link-home:before {content: "\e602"; background: url(../pix/iconie8/home.png) no-repeat center center}
.wom_phone-header a.wom_link-home:hover:before {url(../pix/iconie8/home.png) no-repeat scroll center center}
#wom.static_phone .wom_phone-header a.wom_link-back:before {background:url(../pix/iconie8/arrow_back.png) no-repeat scroll center center}
#wom.static_phone .wom_phone-header a.wom_link-back:hover:before {background:url(../pix/iconie8/arrow_back.png) no-repeat scroll center center}
#wom.static_phone .wom_phone-header a.wom_link-home:before {background: url(../pix/iconie8/home.png) no-repeat center center}
#wom.static_phone .wom_phone-header a.wom_link-home:hover:before {background: url(../pix/iconie8/home.png) no-repeat scroll center center}


.wom_navi .wom_accordion-tab:before { background:url(../pix/iconie8/zusatzinfo.png) no-repeat scroll 5px 9px; }
.wom_navi .wom_accordion-tab:after {background:url(../pix/iconie8/arrow_black_down.png) no-repeat right center;}

#wom.static_phone .wom_navi .wom_accordion-tab:before { background:url(../pix/iconie8/zusatzinfo.png) no-repeat scroll 5px 9px; }
#wom.static_phone .wom_navi .wom_accordion-tab:after {background:url(../pix/iconie8/arrow_black_down.png) no-repeat right center;}


/*
TODO
*/

/* Fragen Punkte  / Punkte Detailansicht*/
/* Black-Dot */
.wom_points li.wom_active_point a {background:url(../pix/iconie8/dot_black_8px.png) no-repeat 0px 0px;}
.wom_auswertung span.wom_point_star{background:url(../pix/iconie8/dot_black_8px.png) no-repeat 20px 0px;}
.wom_thesen_points li.wom_active a,.wom_thesen_points li a:hover{background:url(../pix/iconie8/dot_black_8px.png) no-repeat center center;}
.wom_thesen_points li a{background:url(../pix/iconie8/dot_black_6px.png) no-repeat center center;}
.wom_points li.wom_pp a:focus {background:url(../pix/iconie8/dot_black_8px.png) no-repeat 0px 0px;}


#wom.static_desktop .wom_points li.wom_active_point a {background:url(../pix/iconie8/dot_black_8px.png) no-repeat 0px 0px;}
#wom.static_desktop .wom_auswertung span.wom_point_star{background:url(../pix/iconie8/dot_black_8px.png) no-repeat 20px 0px;}
#wom.static_desktop .wom_thesen_points li.wom_active a,.wom_thesen_points li a:hover{background:url(../pix/iconie8/dot_black_8px.png) no-repeat center center;}
#wom.static_desktop .wom_thesen_points li a{background:url(../pix/iconie8/dot_black_6px.png) no-repeat center center;}
#wom.static_desktop .wom_points li.wom_pp a:focus {background:url(../pix/iconie8/dot_black_8px.png) no-repeat 0px 0px;}

.wom_points li.wom_previous_point a {background:url(../pix/iconie8/dot_braun_6px.png) no-repeat 1px 1px; background-size:70% auto;}
.wom_points li.wom_previous_point a:hover {background-size: 80%;}
.wom_points li.wom_active_point a {background:url(../pix/iconie8/dot_black_8px.png) no-repeat 0px 0px; background-size:100% auto;}

#wom.static_desktop .wom_points li.wom_previous_point a {background:url(../pix/iconie8/dot_braun_6px.png) no-repeat 1px 1px; background-size:70% auto;}
#wom.static_desktop .wom_points li.wom_previous_point a:hover {background-size: 80%;}
#wom.static_desktop .wom_points li.wom_active_point a {background:url(../pix/iconie8/dot_black_8px.png) no-repeat 0px 0px; background-size:100% auto;}

.wom_points li span{background:url(../pix/iconie8/dot_white_6px.png) no-repeat 1px 1px; background-size:70% auto; display:block; width:8px; height:8px; }
.wom_points li .wom_arrow_left{background:url(../pix/iconie8/pfeil_links.png) no-repeat 0 0; display:block; width:33px; left:5px; height:33px; position:absolute; bottom:14px; }
.wom_points li .wom_arrow_right{background:url(../pix/iconie8/pfeil_rechts.png) no-repeat 0 0; display:block; width:33px; right:10px; height:33px; position:absolute; bottom:14px; }

#wom.static_desktop .wom_points li span{background:url(../pix/iconie8/dot_white_6px.png) no-repeat 1px 1px; background-size:70% auto; display:block; width:8px; height:8px; }
#wom.static_desktop .wom_points li .wom_arrow_left{background:url(../pix/iconie8/pfeil_links.png) no-repeat 0 0; display:block; width:33px; left:5px; height:33px; position:absolute; bottom:14px; }
#wom.static_desktop .wom_points li .wom_arrow_right{background:url(../pix/iconie8/pfeil_rechts.png) no-repeat 0 0; display:block; width:33px; right:10px; height:33px; position:absolute; bottom:14px; }

#wom.static_phone .wom_phone-whitebox { padding-bottom:45px}

#navi {
    display:none;
}