 

/*IE6, firefox, opera, mozilla, netscape, safari*/



/* general */
html, body, div, h1, h2, h3, h4, h5{
	margin: 0px;
	padding: 0px;
	}
html{
	min-height:100.05%;
	}
ul {
	margin: 0px;
	padding: 0px;
	list-style:none;
	}
.unsichtbar {
	display:none;
}
.uppercasetext{
	text-transform:uppercase;
	}
	
#wahlomat2006{
	
	}	
	
/* ----------MAIN HEAD / MAIN FOOT */

#main_head_sub{
	height:55px;
	}
#main_foot_sub{
	height:72px;
	padding:10px 0 0 0;
	}
#main_head_sub, #main_foot_sub{
	background:#fff;
	position:relative;
	margin: 0 auto 0 auto;
	width:830px; /*breitenangabe muss sein*/
	}

#main_head_sub div span a{
	height:55px;
	display:block;
	float:left;
	}
#main_foot_sub div a{
	height:75px;
	display:block;
	float:left;
	}
#main_head_sub div span a span, #main_foot_sub div a span{
	display:none;
	}


	
	

/* ----------MAIN BODY */



/*
background
*/

#main_wm{
	padding:10px 0 0 0;
	clear:both;
	}
#main_wm_sub{
	background:url(../pix/sirene/tapete.gif) no-repeat 50% 0;
	position:relative;
	margin: 0 auto 10px auto;
	padding:0 0 20px 0;
	width:830px; /*breitenangabe muss sein*/
	}
	


/*
content all
*/

#content{
	padding:12px 0 0 150px;
	width:650px;
	}

/*
content: start, wahl
*/
	
#content_head_start{
	height:186px;
	width:510px;
	}
#content_head_start h2{
	display:none;
	}
	
/*-- --start only*/
#content_center_start{
	color:#333;
	background:url(../pix/sirene/body_cont_ic.gif) repeat-y;
	padding:0 0 0 0;
	min-height:161px;
	}
h4.start{
	font: bold 0.75em verdana, arial, sans-serif;
	padding:23px 0 0 68px;
	width:360px;
	}
#content_center_start div.b1{
	font: normal 0.75em verdana, arial, sans-serif;
	line-height:1.35em;
	padding:15px 0 0 68px;
	width:360px;
	}
h4.start a, #content_center_start div.b1 a{
	color:#333;
	text-decoration:none;
	}
	
#content_center_start div.b2{	
	padding:0 0 4px 0;
	margin:12px 0 0 355px;
	background:url(../pix/sirene/start.gif) no-repeat;
	height:18px;
	width:66px;
	}
#content_center_start div.b2 a{
	position:absolute;
	top:20px;
	left:170px;
	width:460px;
	height:30em;
	}
#content_center_start div.b2 a span{
	display:none;
	}
/*-- --wahl only*/
#content_center_wahl{
	color:#666;
	background:url(../pix/sirene/body_cont_ic.gif) repeat-y;
	padding:0 0 25px 0;
	min-height:140px;
	}
h4.wahl{
	font: normal 0.75em verdana, arial, sans-serif;
	padding:23px 0 0 68px;
	width:360px;
	}
#content_center_wahl div.b1, #content_center_wahl div.b2{
	padding:15px 0 0 68px;
	line-height:1.35em;
	width:360px;
	}
#content_center_wahl div.b1{
	font: bold 0.75em verdana, arial, sans-serif;
	}
#content_center_wahl div.b2{
	color:#FA4BB1;
	font:normal 0.75em verdana, arial, sans-serif;
	}
#content_center_wahl div.b3{
	display:none;
	}
/*-- --start + wahl*/
* html #content_center_start, * html #content_center_wahl{/* min height set for ie*/
	overflow:visible;
	height:165px;
	padding:0;
	}

#content_center_b{
	background:url(../pix/sirene/body_cont_ib.gif) no-repeat;
	clear:both;
	height:23px;
	}
	
#content_choice{
	padding:7px 0 0 48px;
	background:url(../pix/sirene/body_cont_ic2.gif) repeat-y;
	min-height:88px;
	}
* html #content_choice{
	overflow:visible;
	height:88px;
	}
		
#content_choice div span, #content_choice div a{
	line-height:1em;
	color:#fff;
	font:bold 0.7em verdana, arial, sans-serif;
	text-decoration:none;
	}	
	
#content_choice div.b1 span, #content_choice div.b2 span, #content_choice div.b3 span, #content_choice div.b1 a, #content_choice div.b2 a, #content_choice div.b3 a{
	float:left;
	margin: 0 5px 0 0;
	padding:53px 0 0 0;
	width:80px;
	text-align:center;
	}
#content_choice div.b4 span, #content_choice div.b4 a{
	float:right;
	margin: 0 185px 0 0;
	padding:53px 0 0 5px;
	width:8em;
	text-align:left;
	}
* html #content_choice div.b4 span, * html #content_choice div.b4 a{ /*for ie: to prevent the last buttom from line breaking*/
	width:90px;
	}
		
#content_choice div.b5{ /*for firefox: div below the choicebuttons to fill the empty space on very large text*/
	height:1px;
	clear:both;
	}
* html #content_choice div.b5{
	display:none;
	}	
		
/*--all choice*/
#content_choice div.b1 a.normal:link, #content_choice div.b1 a.normal:visited{
	background:url(../pix/sirene/but_choice_1n.gif) no-repeat 50% 0;
	}
#content_choice div.b1 a.selected:link, #content_choice div.b1 a.selected:visited{
	background:url(../pix/sirene/but_choice_1v.gif) no-repeat 50% 0;
	}
#content_choice div.b1 a.normal:hover, #content_choice div.b1 a.selected:hover, #content_choice div.b1 a.normal:focus, #content_choice div.b1 a.selected:focus, #content_choice div.b1 span{
	background:url(../pix/sirene/but_choice_1o.gif) no-repeat 50% 0;
	}
	
#content_choice div.b2 a.normal:link, #content_choice div.b2 a.normal:visited{
	background:url(../pix/sirene/but_choice_2n.gif) no-repeat 50% 0;
	}
#content_choice div.b2 a.selected:link, #content_choice div.b2 a.selected:visited{
	background:url(../pix/sirene/but_choice_2v.gif) no-repeat 50% 0;
	}
#content_choice div.b2 a.normal:hover, #content_choice div.b2 a.selected:hover, #content_choice div.b2 a.normal:focus, #content_choice div.b2 a.selected:focus, #content_choice div.b2 span{
	background:url(../pix/sirene/but_choice_2o.gif) no-repeat 50% 0;
	}
	
#content_choice div.b3 a.normal:link, #content_choice div.b3 a.normal:visited{
	background:url(../pix/sirene/but_choice_3n.gif) no-repeat 50% 0;
	}
#content_choice div.b3 a.selected:link, #content_choice div.b3 a.selected:visited{
	background:url(../pix/sirene/but_choice_3v.gif) no-repeat 50% 0;
	}
#content_choice div.b3 a.normal:hover, #content_choice div.b3 a.selected:hover, #content_choice div.b3 a.normal:focus, #content_choice div.b3 a.selected:focus, #content_choice div.b3 span{
	background:url(../pix/sirene/but_choice_3o.gif) no-repeat 50% 0;
	}
	
/*--b4 choice only*/
#content_choice div.b4 a.normal:link, #content_choice div.b4 a.normal:visited{
	background:url(../pix/sirene/but_choice_4n.gif) no-repeat 0% 0;
	}
#content_choice div.b4 a.selected:link, #content_choice div.b4 a.selected:visited{
	background:url(../pix/sirene/but_choice_4v.gif) no-repeat 0% 0;
	}
#content_choice div.b4 a.normal:hover, #content_choice div.b4 a.selected:hover, #content_choice div.b4 a.normal:focus, #content_choice div.b4 a.selected:focus, #content_choice div.b4 span{
	background:url(../pix/sirene/but_choice_4o.gif) no-repeat 0% 0;
	}
		
#content_choice_b{
	text-align:right;
	font:normal 0.6em verdana, arial, sans-serif;
	color:#fff;
	background:url(../pix/sirene/body_cont_ib2.gif) no-repeat;
	padding:23px 164px 10px 0;
	}
	


/*
content: ergebnis + vorergebnis + statistics
*/

/*-- --head*/
#content_head_e{
	background:url(../pix/sirene/body_head_e.gif) no-repeat;
	min-height:501px;
	width:540px;
	}
* html #content_head_e{
	height:501px;
	overflow:visible;
	width:540px;
	}
#content_head_e h2{
	display:none;
	}

/*-- --center*/
#content_center_e{
	background:transparent url(../pix/sirene/body_cont_ec.gif) no-repeat;
	padding:96px 0 33px 0;
	}

/*-- --part pic large*/
#content_center_e div.part_picl{
	width:149px;
	height:60px;
	margin:0 0 0 180px;
	}
#content_center_e div.part_picl a{
	display:block;
	width:149px;
	height:60px;
	}
#content_center_e div.part_picl a span{
	display:none;
	}

/*-- --result table*/

#result_bgcolchange{
	background:#FEE0F2;
	}
#result_table{
	margin:8px 60px 0 43px;
	clear:both;
	border:#F943AD 1px solid;
	}
#result_table div.tablebg1{
	background:#fff repeat-y;
	}
#result_table div.tablebg2{
	background:#FFEEF8 repeat-y;
	}
#result_table div.tablebg1, #result_table div.tablebg2{
	min-height:1.2em;
	border:none;
	overflow:visible;
	}
* html #result_table div.tablebg1, * html #result_table div.tablebg2{
	height:1.2em;
	}
#result_table div.tablebg1 div.tablebgsub, #result_table div.tablebg2 div.tablebgsub{ /*to center some subelements vertically, must be an extra div because it wont work in the above "display:table;" defined div*/
	position:relative;
	min-height:1.2em;
	overflow:visible;
	}
* html #result_table div.tablebg1 div.tablebgsub, * html #result_table div.tablebg2 div.tablebgsub{
	height:1.2em;
	}
	
/*--table head*/
#result_table div.tablebg1 ul{
	padding:8px 0 0 2px;
	height:1.8em;
	}
#result_table div.tablebg1 ul li{
	color:#333;
	padding:0 0 0 3px;
	margin:0;
	overflow:hidden;
	float:left;
	}
#result_table div.tablebg1 ul li.headcol1{
	width:191px;
	font:bold 0.7em verdana, arial, sans-serif;
	}
#result_table div.tablebg1 ul li.headcol2{
	width:233px;
	font:bold 0.7em verdana, arial, sans-serif;
	}	
	
/*--table partei*/
#result_table div.tablebg1 div div.contcol_part, #result_table div.tablebg2 div div.contcol_part{
	width:190px;
	padding:3px 0 3px 8px;
	}
* html #result_table div.tablebg1 div div.contcol_part, * html #result_table div.tablebg2 div div.contcol_part{
	width:187px;
	}
#result_table div.tablebg1 div div.contcol_part a, #result_table div.tablebg2 div div.contcol_part a{
	font:bold 0.7em verdana, arial, sans-serif;
	text-decoration:none;
	}
#result_table div.tablebg1 div div.contcol_part a:link, #result_table div.tablebg2 div div.contcol_part a:link, #result_table div.tablebg1 div div.contcol_part a:visited, #result_table div.tablebg2 div div.contcol_part a:visited{
	color:#333;
	}
#result_table div.tablebg1 div div.contcol_part a:hover, #result_table div.tablebg2 div div.contcol_part a:hover, #result_table div.tablebg1 div div.contcol_part a:focus, #result_table div.tablebg2 div div.contcol_part a:focus{
	color:#C75F02;
	}
	
/*table bar*/
#result_table div div div.contcol_bar1, #result_table div div div.contcol_bar2, #result_table div div div.contcol_bar3, #result_table div div div.contcol_bar4, #result_table div div div.contcol_bar5{
	background:#F943AD;
	position:absolute;
	left:200px;
	top:50%;
	height:0.8em;
	margin:-0.4em 0 0 0;
	}

#result_table div div div.contcol_bar1 span, #result_table div div div.contcol_bar2 span, #result_table div div div.contcol_bar3 span, #result_table div div div.contcol_bar4 span, #result_table div div div.contcol_bar5 span{
	display:none;
	}
/*table foot*/
#result_table div div.tablefoot{
	line-height:1.6em;
	background:#fff;
	}

h4.result{
	font: bold 0.7em verdana, arial, sans-serif;
	padding:10px 0 2px 44px;
	}
	
/*-- --goto*/
#content_center_e div.goto1{
	margin:28px 0 0 39px;
	}
* html #content_center_e div.goto1{
	margin:28px 0 0 19px;
	}
#content_center_e div.goto2{
	margin:28px 0 0 14px;
	}
* html #content_center_e div.goto2{
	margin:28px 0 0 3px;
	}
#content_center_e div.goto1, #content_center_e div.goto2{
	width:201px;
	float:left;
	}
#content_center_e div.goto1 a, #content_center_e div.goto2 a{
	color:#333;
	font:bold 0.7em verdana, arial, sans-serif;
	display:block;
	width:161px;
	height:123px;
	padding:13px 30px 0 20px;
	}
#content_center_e div.goto1 a:link, #content_center_e div.goto1 a:visited{
	background:url(../pix/sirene/but_goto1_n.gif) no-repeat 3px 0;
	text-decoration:none;
	}
#content_center_e div.goto1 a:hover, #content_center_e div.goto1 a:focus{
	background:url(../pix/sirene/but_goto1_o.gif) no-repeat 3px 0;
	text-decoration:none;
	}	
#content_center_e div.goto2 a:link, #content_center_e div.goto2 a:visited{
	background:url(../pix/sirene/but_goto2_n.gif) no-repeat 3px 0;
	text-decoration:none;
	}
#content_center_e div.goto2 a:hover, #content_center_e div.goto2 a:focus{
	background:url(../pix/sirene/but_goto2_o.gif) no-repeat 3px 0;
	text-decoration:none;
	}

/*-- --statistics*/

#statistics{
	margin:10px 62px 0 44px;
	border:1px solid #F943AD;
	}
	
/*--visitors*/
#statistics div.visitors{
	float:left;
	padding:15px 0 0 0;
	width:72px;
	}
#statistics div.visitors div{
	color:#646045;
	font:normal 0.6em verdana, arial, sans-serif;
	padding:40px 0 0 0;
	line-height:1em;
	text-align:right;
	}
	
/*--statbars*/
#statistics div.statbars{
	float:left;
	width:346px;
	margin:10px 0 0 5px;
	background:url(../pix/sirene/statsbg.gif) repeat-x;
	}
#statistics div.statbars div{
	float:left;
	position:relative;
	height:150px;
	}
#statistics div.statbars div.bar_a, #statistics div.statbars div.bar_b{
	width:8px;
	}
#statistics div.statbars div.bar_a_first, #statistics div.statbars div.bar_b_first{
	width:6px;
	}
#statistics div.statbars div.bar_a div, #statistics div.statbars div.bar_a_first div{
	background:#FDB5DF;
	}
#statistics div.statbars div.bar_b div, #statistics div.statbars div.bar_b_first div{
	background:#FB6CBF;
	}
#statistics div.statbars div div{
	position:absolute;
	bottom:0px;
	right:0px;
	width:6px;
	height:150px;
	display:block;
	}
#statistics div.statbars div div span{
	display:none;
	}
	
/*--weeks*/
#statistics ul.weeks{
	clear:both;
	padding:2px 0 0 56px;
	height:25px;
	}
#statistics ul.weeks li{
	float:left;
	text-align:right;
	color:#646045;
	font:normal 0.6em verdana, arial, sans-serif;
	width:56px;
	overflow:visible;
	display:block;
	}
	
/*-- --foot*/
#content_foot_e{
	clear:both;
	background:url(../pix/sirene/body_cont_eb.gif) no-repeat;
	height:39px;
	width:530px;
	}
	
	
/*
content: vergleich + gewichtung
*/

/*-- --head*/
#content_head_w{
	background:url(../pix/sirene/body_head_w.gif) no-repeat;
	min-height:501px;
	width:680px;
	}
* html #content_head_w{
	height:501px;
	overflow:visible;
	width:680px;
	}
#content_head_w h2{
	display:none;
	}

/*-- --center*/
#content_center_w{
	background:transparent url(../pix/sirene/body_cont_wc.gif) no-repeat;
	padding:96px 0 63px 0;
	}

/*-- --pos_choice*/
#content_center_w div.pos_choice{
	position:absolute;
	top:135px;
	right:69px;
	}
* html #content_center_w div.pos_choice{
	right:65px;
	}
#content_center_w div.pos_choice div.b1, #content_center_w div.pos_choice div.b2, #content_center_w div.pos_choice div.b3{
	width:6.5em;
	display:block;
	color:#333;
	font:normal 0.7em verdana, arial, sans-serif;
	}
#content_center_w div.pos_choice div.b1{
	background:url(../pix/sirene/but_sel1.gif) no-repeat;
	padding:4px 0 5px 25px;
	}
#content_center_w div.pos_choice div.b2{
	background:url(../pix/sirene/but_sel2.gif) no-repeat;
	padding:0 0 5px 25px;
	}
#content_center_w div.pos_choice div.b3{
	background:url(../pix/sirene/but_or_p_n.gif) no-repeat 2px 0;
	padding:0 0 0 25px;
	}


/*-- --compare table*/

#compare_bgcolchange{
	background:url(../pix/sirene/tablebg1d.gif) repeat-y;
	}
#compare_table{
	margin:8px 60px 0 43px;
	clear:both;
	border:#F943AD 1px solid;
	padding:0 0 1px 0;
	}
#compare_table div.tablebg0, #compare_table div.tablebg1, #compare_table div.tablebg2{
	background:url(../pix/sirene/tablebg1c.gif) repeat-y;
	min-height:1.2em;
	overflow:visible;
	}
#compare_table div.tablebg1, #compare_table div.tablebg2{
	border-top:#F943AD 1px solid;
	}
* html #compare_table div.tablebg1, * html #compare_table div.tablebg2{
	height:1.2em;
	}
#compare_table div.tablebg1 div.tablebgsub, #compare_table div.tablebg2 div.tablebgsub{ /*to center some subelements vertically, must be an extra div because it wont work in the above "display:table;" defined div*/
	position:relative;
	min-height:1.2em;
	overflow:visible;
	}
* html #compare_table div.tablebg1 div.tablebgsub, * html #compare_table div.tablebg2 div.tablebgsub{
	height:1.2em;
	}
	
/*--table head*/
#compare_table div.tablebg0 ul{
	padding:5px 0 0 2px;
	height:2.5em;
	}
#compare_table div.tablebg0 ul li{
	color:#333;
	padding:0 0 0 3px;
	margin:0;
	overflow:hidden;
	float:left;
	}
#compare_table div.tablebg0 ul li.headcol2{
	width:269px;
	font:bold 0.7em verdana, arial, sans-serif;
	}	
#compare_table div.tablebg0 ul li.headcol3, #compare_table div.tablebg0 ul li.headcol4, #compare_table div.tablebg0 ul li.headcol5{
	width:71px;
	font:bold 0.6em verdana, arial, sans-serif;
	text-align:center;
	}
#compare_table div.tablebg0 ul li.headcol6, #compare_table div.tablebg0 ul li.headcol7{
	font:bold 0.6em verdana, arial, sans-serif;
	width:76px;
	padding:0 0 0 0;
	text-align:center;
	}
	
/*--table content*/

/*table num*/
#compare_table div.tablebg1 div div.contcol_num, #compare_table div.tablebg2 div div.contcol_num{
	width:24px;
	color:#333;
	font:normal 0.7em verdana, arial, sans-serif;
	padding:3px 0 3px 4px;
	clear:both;
	float:left;
	overflow:hidden;
	}
/*table txt*/
#compare_table div.tablebg1 div div.contcol_txt, #compare_table div.tablebg2 div div.contcol_txt{
	width:245px;
	padding:3px 0 3px 30px;
	}
#compare_table div.tablebg1 div div.contcol_txt a, #compare_table div.tablebg2 div div.contcol_txt a{
	font:normal 0.7em verdana, arial, sans-serif;
	display:block;
	padding:0 18px 0 0;
	width:227px;
	}
#compare_table div.tablebg1 div div.contcol_txt a:link, #compare_table div.tablebg1 div div.contcol_txt a:visited, #compare_table div.tablebg2 div div.contcol_txt a:link, #compare_table div.tablebg2 div div.contcol_txt a:visited{
	background:url(../pix/sirene/but_or_p_n.gif) no-repeat 99% 50%;
	color:#333;
	text-decoration:none;
	}
#compare_table div.tablebg1 div div.contcol_txt a:hover, #compare_table div.tablebg1 div div.contcol_txt a:focus, #compare_table div.tablebg2 div div.contcol_txt a:hover, #compare_table div.tablebg2 div div.contcol_txt a:focus{
	background:url(../pix/sirene/but_or_p_o.gif) no-repeat 99% 50%;
	color:#C75F02;
	text-decoration:none;
	}
	
* html #compare_table div.tablebg1 div div.contcol_txt, * html #compare_table div.tablebg2 div div.contcol_txt{
	padding:3px 0 3px 0;
	}
/*table comp*/
#compare_table div div div.contcol_comp_1a, #compare_table div div div.contcol_comp_1b, #compare_table div div div.contcol_comp_1c, #compare_table div div div.contcol_comp_2a, #compare_table div div div.contcol_comp_2b, #compare_table div div div.contcol_comp_2c, #compare_table div div div.contcol_comp_2d, #compare_table div div div.contcol_comp_3a, #compare_table div div div.contcol_comp_3b, #compare_table div div div.contcol_comp_4a, #compare_table div div div.contcol_comp_4b, #compare_table div div div.contcol_comp_4c{
	position:absolute;
	top:50%;
	left:278px;
	height:20px;
	}

#compare_table div div div.contcol_comp_1a{
	background:#F943AD url(../pix/sirene/comp1.gif) no-repeat 13px 50%;
	margin:-10px 0 0 0;
	width:74px;
	}
#compare_table div div div.contcol_comp_1b{
	background:#F943AD url(../pix/sirene/comp1.gif) no-repeat 13px 50%;
	margin:-10px 0 0 74px;
	width:72px;
	}
#compare_table div div div.contcol_comp_1c{
	background:#F943AD url(../pix/sirene/comp1.gif) no-repeat 13px 50%;
	margin:-10px 0 0 146px;
	width:72px;
	}
#compare_table div div div.contcol_comp_2a{
	background:#FB6CBF url(../pix/sirene/comp21.gif) no-repeat 25px 50%;
	margin:-10px 0 0 0;
	width:146px;
	}
#compare_table div div div.contcol_comp_2b{
	background:#FB6CBF url(../pix/sirene/comp22.gif) no-repeat 25px 50%;
	margin:-10px 0 0 0;
	width:146px;
	}
#compare_table div div div.contcol_comp_2c{
	background:#FB6CBF url(../pix/sirene/comp21.gif) no-repeat 25px 50%;
	margin:-10px 0 0 74px;
	width:144px;
	}
#compare_table div div div.contcol_comp_2d{
	background:#FB6CBF url(../pix/sirene/comp22.gif) no-repeat 25px 50%;
	margin:-10px 0 0 74px;
	width:144px;
	}
#compare_table div div div.contcol_comp_3a{
	background:#FDB5DF url(../pix/sirene/comp31.gif) no-repeat 25px 50%;
	margin:-10px 0 0 0px;
	width:217px;
	}
#compare_table div div div.contcol_comp_3b{
	background:#FDB5DF url(../pix/sirene/comp32.gif) no-repeat 25px 50%;
	margin:-10px 0 0 0px;
	width:217px;
	}
#compare_table div div div.contcol_comp_4a{
	background:url(../pix/sirene/comp4.gif) no-repeat 13px 50%;
	margin:-10px 0 0 0;
	width:74px;
	}
#compare_table div div div.contcol_comp_4b{
	background:url(../pix/sirene/comp4.gif) no-repeat 13px 50%;
	margin:-10px 0 0 74px;
	width:72px;
	}
#compare_table div div div.contcol_comp_4c{
	background:url(../pix/sirene/comp4.gif) no-repeat 13px 50%;
	margin:-10px 0 0 146px;
	width:72px;
	}

#compare_table div div div span{
	display:none;
	}
	
/*table info*/
#compare_table div div div.contcol_info{
	padding:3px 0 0 0;
	position:absolute;
	left:529px;
	top:50%;
	margin:-0.6em 0 0 0;
	}
#compare_table div div div.contcol_info a{
	width:20px;
	height:15px;
	display:block;
	}
#compare_table div div div.contcol_info a:link, #compare_table div div div.contcol_info a:visited{
	background:url(../pix/sirene/but_or_i_n.gif) no-repeat 0 50%;
	}
#compare_table div div div.contcol_info a:hover, #compare_table div div div.contcol_info a:focus{
	background:url(../pix/sirene/but_or_i_o.gif) no-repeat 0 50%;
	}
	
/*-- --weight table*/

#weight_bgcolchange{
	background:#FEE0F2;
	}
#weight_table{
	margin:20px 60px 0 43px;
	clear:both;
	border:#F943AD 1px solid;
	}
#weight_table div.tablebg1{
	background:#fff repeat-y;
	}
#weight_table div.tablebg2{
	background:#FFEEF8 repeat-y;
	}
#weight_table div.tablebg1, #weight_table div.tablebg2{
	min-height:1.2em;
	border:none;
	overflow:visible;
	}
* html #weight_table div.tablebg1, * html #weight_table div.tablebg2{
	height:1.2em;
	}
#weight_table div.tablebg1 div.tablebgsub, #weight_table div.tablebg2 div.tablebgsub{ /*to center some subelements vertically, must be an extra div because it wont work in the above "display:table;" defined div*/
	position:relative;
	min-height:1.2em;
	overflow:visible;
	}
* html #weight_table div.tablebg1 div.tablebgsub, * html #weight_table div.tablebg2 div.tablebgsub{
	height:1.2em;
	}
/*--table head*/
#weight_table div.tablebg1 ul{
	position:relative;
	padding:0.6em 0 0 2px;
	height:2.1em;
	}
#weight_table div.tablebg1 ul li{
	color:#333;
	font:bold 0.7em verdana, arial, sans-serif;
	padding:0 5px 0 3px;
	margin:0;
	overflow:hidden;
	position:absolute;
	bottom:8px;
	}
#weight_table div.tablebg1 ul li.headcol1{
	width:30px;
	}
#weight_table div.tablebg1 ul li.headcol2{
	width:150px;
	left:41px;
	}
#weight_table div.tablebg1 ul li.headcol3{
	width:425px;
	text-align:right;
	line-height:1.4em;
	left:141px;
	}
		
/*--table content*/

/*table num*/
#weight_table div.tablebg1 div div.contcol_num, #weight_table div.tablebg2 div div.contcol_num{
	width:36px;
	color:#333;
	font:bold 0.7em verdana, arial, sans-serif;
	padding:3px 0 3px 8px;
	float:left;
	}
* html #weight_table div.tablebg1 div div.contcol_num, * html #weight_table div.tablebg2 div div.contcol_num{
	width:33px;
	}
/*table txt*/
#weight_table div.tablebg1 div div.contcol_txt, #weight_table div.tablebg2 div div.contcol_txt{
	width:535px;
	color:#333;
	font:normal 0.7em verdana, arial, sans-serif;
	padding:3px 35px 3px 0;
	display:block;
	}
* html #weight_table div.tablebg1 div div.contcol_txt, * html #weight_table div.tablebg2 div div.contcol_txt{
	width:493px;
	}
/*table check*/
#weight_table div div div.contcol_check{
	position:absolute;
	top:50%;
	right:2px;
	margin:-8px 0 0 0;
	}

/*-- --foot*/
#content_foot_w{
	clear:both;
	background:url(../pix/sirene/body_cont_wb.gif) no-repeat;
	height:39px;
	width:655px;
	}
	


/*
content: vergleich, gewichtung, ergebnis, zuergebnis, statistik
*/

/*-- --h3 orange*/
h3.orange{
	background:#000;
	color:#fff;
	font:bold 0.7em verdana, arial, sans-serif;
	margin:0 48px 0 31px;
	padding:0 0 5px 12px;
	min-height:13px;
	max-height:23px;
	line-height:13px;
	}
	
/*-- --intro*/
#content_center_w div.intro, #content_center_e div.intro{
	color:#333;
	font:normal 0.7em verdana, arial, sans-serif;
	width:430px;
	padding:13px 0 0 43px;
	line-height:1.4em;
	}

/*-- --part_pics*/
.part_pics{
	padding:13px 0 60px 41px;
	clear:both;
	}
.part_pics li{
	float:left;
	padding:0 8px 0 0;
	}
.part_pics li a{
	width:80px;
	height:56px;
	display:block;
	}
.part_pics li a span{
	display:none;
	}
	
/*-- --back and restart*/
#content_center_w div.back, #content_center_e div.back{
	clear:both;
	position:absolute;
	bottom:60px;
	left:190px;
	width:5em;
	}
#content_center_w div.next, #content_center_e div.next{
	position:absolute;
	bottom:60px;
	right:200px;
	width:13em;
	}
#content_center_w div.stats, #content_center_e div.stats{
	clear:both;
	position:absolute;
	bottom:90px;
	right:60px;
	width:8em;
	}
#content_center_w div.restart, #content_center_e div.restart{
	position:absolute;
	bottom:60px;
	right:60px;
	width:11em;
	text-align:right;
	}
#content_center_w div.restart input.submitbut, #content_center_e div.restart input.submitbut{
	border:0;
	margin:0;
	padding:0 27px 1px 0;
	background:url(../pix/sirene/but_restart_n.gif) no-repeat 100% 50%;
	font:normal 0.7em verdana, arial, sans-serif;
	color:#333;
	cursor:pointer;
	height:23px;
	}
* html #content_center_w div.restart input.submitbut, * html #content_center_e div.restart input.submitbut{
	padding:0 5px 1px 0;
	}
#content_center_w div.back a, #content_center_e div.back a, #content_center_w div.stats a, #content_center_e div.stats a, #content_center_w div.next a, #content_center_e div.next a, #content_center_w div.restart a, #content_center_e div.restart a{
	height:19px;
	font:normal 0.7em verdana, arial, sans-serif;
	display:block;
	text-decoration:none;
	}
	
#content_center_w div.back a, #content_center_e div.back a{
	padding:6px 0 0 28px;
	}
#content_center_w div.stats a, #content_center_e div.stats a, #content_center_w div.next a, #content_center_e div.next a, #content_center_w div.restart a, #content_center_e div.restart a{
	padding:6px 30px 0 0;
	text-align:right;
	}
	
#content_center_w div.back a:link, #content_center_w div.back a:visited, #content_center_e div.back a:link, #content_center_e div.back a:visited{
	background:url(../pix/sirene/but_back_n.gif) no-repeat 0 50%;
	color:#333;
	}
#content_center_w div.stats a:link, #content_center_w div.stats a:visited, #content_center_e div.next a:link, #content_center_e div.next a:visited, #content_center_w div.restart a:link, #content_center_w div.restart a:visited, #content_center_e div.restart a:link, #content_center_e div.restart a:visited{
	background:url(../pix/sirene/but_restart_n.gif) no-repeat 100% 50%;
	color:#333;
	}
#content_center_w div.back a:hover, #content_center_w div.back a:focus, #content_center_e div.back a:hover, #content_center_e div.back a:focus{
	background:url(../pix/sirene/but_back_o.gif) no-repeat 0 50%;
	color:#F943AD;
	}
#content_center_w div.stats a:hover, #content_center_w div.stats a:focus, #content_center_e div.next a:hover, #content_center_e div.next a:focus, #content_center_w div.restart a:hover, #content_center_w div.restart a:focus, #content_center_e div.restart a:hover, #content_center_e div.restart a:focus{
	background:url(../pix/sirene/but_restart_o.gif) no-repeat 100% 50%;
	color:#F943AD;
	}
	
	
/*
steps
*/

#steps{
	min-height:2.5em;
	padding:0 0 0 0;
	clear:both;	
	}
* html #steps{
	height:2.5em;
	overflow:visible;
	}
	
#steps ul{
	padding:6px 0 0 0;
	min-width:33em;
	margin: 0 0 0 -3.5em;
	left:22%;
	position:absolute;
	}
* html #steps ul{
	width:35em;
	margin: 0 0 0 -12.9em;
	left:40%;
	}
	
#steps ul li{
	float:left;
	font: 0.55em verdana, arial, sans-serif;
	padding:15px 0 2px 0;
	}
	
#steps ul li.b_bn{
	background:url(../pix/sirene/progress_bn.gif) no-repeat right top;
	width:20px;
	height:15px;
	}
#steps ul li.b_bv{
	background:url(../pix/sirene/progress_bv.gif) no-repeat right top;
	width:20px;
	height:15px;
	}
	
#steps ul li.b_mn{
	color:#FEDEF1;
	text-decoration:none;
	background:url(../pix/sirene/progress_mn.gif) repeat-x;
	}
#steps ul li.b_mv{
	color:#9D7C34;
	text-decoration:none;
	background:url(../pix/sirene/progress_mv.gif) repeat-x;
	}
#steps ul li.b_ma{
	color:#C75F02;
	text-decoration:none;
	background:url(../pix/sirene/progress_mv.gif) repeat-x;
	}
	
#steps ul li.b_en{
	background:url(../pix/sirene/progress_en.gif) no-repeat;
	width:20px;
	height:15px;
	}
#step ul li.b_ev{
	background:url(../pix/sirene/progress_ev.gif) no-repeat;
	width:20px;
	height:15px;
	}


#steps ul li.b_mv a, #steps ul li.b_ma a, #steps ul li.b_mn span{
	border-left:1px solid #FEDEF1;
	padding:0 3px 0 3px;
	letter-spacing:-1px;
	width:1px;
	overflow:visible;
	}
#steps ul li a.first, #steps ul li span.first{
	border-left:0;
	}
#steps ul li.b_mv a{
	color:#fff;
	}
#steps ul li.b_ma a{
	color:#fff;
	background:#FAB2DC;
	}
	
#steps ul li.b_bn a, #steps ul li.b_bv a, #steps ul li.b_en a, #step ul li.b_ev a{
	width:20px;
	height:15px;
	display:block;
	}
	
#steps ul li.b_bn a span, #steps ul li.b_bv a span, #steps ul li.b_en a span, #step ul li.b_ev a span{
	display:none;
	}
	
#steps ul li a:link, #steps ul li a:visited{
	text-decoration:none;
	}
#steps ul li a:hover, #steps ul li a:focus{
	text-decoration:underline;
	}
	


/*
left nav
*/

/*normal*/
#leftnav_normal{
	clear:both;
	position:absolute;
	bottom:84px;
	left:30px;
	width:130px;
	padding:0 0 0 5px;
	margin:0 0 10px 0;
	}
	
/*fixed*/
#leftnav_fixed{
	clear:both;
	position:absolute;
	top:492px;
	left:30px;
	width:130px;
	}

#leftnav_fixed_sub{
	width:125px;
	padding:0 0 0 5px;
	position:absolute;
	bottom:0px;
	
	}
/*links for normal and fixed*/
#leftnav_normal div ul li a:link, #leftnav_normal div ul li a:visited, #leftnav_fixed_sub div ul li a:link, #leftnav_fixed_sub div ul li a:visited{
	color:#fff;
	font: bold 0.6em verdana, arial, sans-serif;
	text-decoration:none;
	}
#leftnav_normal div ul li a:hover, #leftnav_normal div ul li a:focus, #leftnav_fixed_sub div ul li a:hover, #leftnav_fixed_sub div ul li a:focus{
	color:#FAB2DC;
	font: bold 0.6em verdana, arial, sans-serif;
	text-decoration:none;
	}
/*general*/
#leftnav_p1{
	padding:0 0 0.2em 0;
	}

#leftnav_p1 ul li a{
	display:block;
	padding:0.4em 0 0 23px;
	min-height:16px;
	}
* html #leftnav_p1 ul li a{
	height:13px;
	}
#leftnav_p1 ul li.b1 a:link, #leftnav_p1 ul li.b1 a:visited{
	background:url(../pix/sirene/but_or_ar_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b1 a:hover, #leftnav_p1 ul li.b1 a:focus{
	background:url(../pix/sirene/but_or_ar_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b2 a:link, #leftnav_p1 ul li.b2 a:visited{
	background:url(../pix/sirene/but_wh_dw_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b2 a:hover, #leftnav_p1 ul li.b2 a:focus{
	background:url(../pix/sirene/but_wh_dw_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b3 a:link, #leftnav_p1 ul li.b3 a:visited{
	background:url(../pix/sirene/but_wh_ph_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b3 a:hover, #leftnav_p1 ul li.b3 a:focus{
	background:url(../pix/sirene/but_wh_ph_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b4 a:link, #leftnav_p1 ul li.b4 a:visited{
	background:url(../pix/sirene/but_wh_c_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b4 a:hover, #leftnav_p1 ul li.b4 a:focus{
	background:url(../pix/sirene/but_wh_c_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b5 a:link, #leftnav_p1 ul li.b5 a:visited{
	background:url(../pix/sirene/but_wh_qm_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b5 a:hover, #leftnav_p1 ul li.b5 a:focus{
	background:url(../pix/sirene/but_wh_qm_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b6 a:link, #leftnav_p1 ul li.b6 a:visited{
	background:url(../pix/sirene/but_wh_i_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b6 a:hover, #leftnav_p1 ul li.b6 a:focus{
	background:url(../pix/sirene/but_wh_i_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b7 a:link, #leftnav_p1 ul li.b7 a:visited{
	background:url(../pix/sirene/but_wh_br_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b7 a:hover, #leftnav_p1 ul li.b7 a:focus{
	background:url(../pix/sirene/but_wh_br_o.gif) no-repeat 0 0.1em;
	}


/*
skin select
*/

#skinselect{
	clear:both;
	position:absolute;
	bottom:230px;
	left:30px;
	width:115px;
	padding:10px 10px 16px 5px;	
	font: bold 0.6em verdana, arial, sans-serif;
	}
* html #skinselect{
	padding:10px 10px 20px 5px;	
	}
#skinselect .toptext{
	color:#fff;
	padding:0 0 0 0;
	}
#skinselect .skins{
	background:url(../pix/sirene/but_or_ar_n.gif) no-repeat;
	display:block;
	color:#333;
	margin:10px 0 0 0;
	padding:2px 0 0 25px;
	min-height:1px;
	}
#skinselect .skins a{
	text-decoration:none;
	}

#skinselect .skins a:link, #skinselect .skins a:visited{
	color:#333;
	}
#skinselect .skins a:hover, #skinselect .skins a:focus{
	color:#FAB2DC;
	}
	
	
/*
subsites
*/
#subsites{
	background:#fff;
	}

#subsites .orange{
	background:#000;
	color:#fff;
	font:bold 0.7em verdana, arial, sans-serif;
	margin:1px 0 10px 0;
	padding:4px 10px 7px 10px;
	min-height:13px;
	max-height:23px;
	line-height:13px;
	}
	
#subsites .text_normal, #subsites .list_normal{
	color:#333;
	font:normal 0.7em verdana, arial, sans-serif;
	padding:0 10px 15px 10px;
	line-height:1.4em;
	}

#subsites .text_normal .bold{
	font-weight:bold;
	}
#subsites .text_normal .link_normal{
	color:#845B01;
	}
#subsites .text_normal .link_jump{
	color:#845B01;
	background:url(../pix/arrow1_up.gif) no-repeat 0px 75%;
	padding:0 0 0 15px;
	margin:0 0 15px 0;
	}
		
#subsites .list_normal li{
	height:100%;
	}
#subsites .list_normal .indent{
	padding:0 0 0 17px;
	}
#subsites .list_normal li .link_list{
	background:url(../pix/arrow1_right.gif) no-repeat 0px 50%;
	padding:0 0 0 15px;
	color:#845B01;
	display:block;
	margin:0 0 15px 0;
	}
#subsites .text_normal .link_normal:link, #subsites .text_normal .link_normal:visited, #subsites .list_normal li .link_list:link, #subsites .list_normal li .link_list:visited, #subsites .text_normal .link_jump:link, #subsites .text_normal .link_jump:visited{
	text-decoration:none;
	}
#subsites .text_normal .link_normal:hover, #subsites .text_normal .link_normal:focus, #subsites .list_normal li .link_list:hover, #subsites .list_normal li .link_list:focus, #subsites .text_normal .link_jump:hover, #subsites .text_normal .link_jump:focus{
	text-decoration:underline;
	}
	
#subsites h2.text_bold{
	color:#333;
	font:bold 0.7em verdana, arial, sans-serif;
	padding:0 10px 0 10px;
	line-height:1.4em;
	}
	
#subsites .pic1{
	padding:9px 0 4px 10px;
	}
