
font.standard
{ FONT-FAMILY: verdana,arial,sans-serif; }

font.zehn
{ FONT-SIZE: 10px; FONT-FAMILY: verdana,arial,sans-serif; }

font.elf
{ FONT-SIZE: 11px; FONT-FAMILY: verdana,arial,sans-serif; }

A.beschreibung:visited
{ COLOR: #0000FF; TEXT-DECORATION: none; }

A.beschreibung:link
{ COLOR: #0000FF; TEXT-DECORATION: none; }

A.beschreibung:hover
{ COLOR: #0000FF; TEXT-DECORATION: underline; }

A:visited
{ COLOR: #000000; TEXT-DECORATION: none; }

A:link
{ COLOR: #000000; TEXT-DECORATION: none; }

A:hover
{ COLOR: #000000; TEXT-DECORATION: underline; }

TD.abstand
{ padding:3px; }

table.ergebnis
{border-collapse:collapse; border:1px solid #99A2BF; }

td.fortschritt
{ FONT-SIZE: 11px; FONT-FAMILY: verdana,arial,sans-serif; }

td.fortschritton
{ FONT-SIZE: 11px; FONT-FAMILY: verdana,arial,sans-serif; font-weight:bold; background-image:url(/bayern2003/pix/wahlomat/bg_zaehler.gif);}