
font.standard
{ FONT-FAMILY: verdana,arial,sans-serif; }

font.zehn
{ FONT-SIZE: 10px; FONT-FAMILY: verdana,arial,sans-serif; }

font.elf
{ FONT-SIZE: 11px; FONT-FAMILY: verdana,arial,sans-serif; }

A:visited
{ COLOR: #000000; TEXT-DECORATION: none; }

A:link
{ COLOR: #000000; TEXT-DECORATION: none; }

A:hover
{ COLOR: #000000; TEXT-DECORATION: underline; }

TD.abstand
{ padding:3px;}

table.ergebnis
{border-collapse:collapse; border:1px solid #FEAE02; }

td.fortschritt
{ FONT-SIZE: 12px; FONT-FAMILY: verdana,arial,sans-serif; color:#666666; padding-left: 1px; padding-right: 1px; }

td.fortschritton
{ FONT-SIZE: 12px; FONT-FAMILY: verdana,arial,sans-serif; color:#000000; padding-left: 1px; padding-right: 1px; }