

/*IE6, firefox, opera, mozilla, netscape, safari*/

.redtxt{color:#DF6700;}
.clear {border:0; clear:both; display:block; font-size:1px; height:1px; line-height:1px; margin:0; padding:0;}
.img{border:0; margin:0; padding:0;}
label{cursor:pointer;}
	
/* general */
html, body, div, h1, h2, h3, h4, h5{
	margin: 0px;
	padding: 0px;
	}
html{
	min-height:100.05%;
	}
ul {
	margin: 0px;
	padding: 0px;
	list-style:none;
	}
.unsichtbar {
	display:none;
}
.nobreak{
	white-space:nowrap;
	}
.uppercasetext{
	text-transform:uppercase;
	}
	
#wahlomat2006{
	}	
	
/* ----------MAIN HEAD / MAIN FOOT */

#main_head_sub{
	height:55px;
	}
#main_foot_sub{
	height:250px;
	padding:10px 0 0 10px;
	}
#main_head_sub, #main_foot_sub{
	background:#fff;
	position:relative;
	margin: 0 auto 0 auto;
	width:810px; /*breitenangabe muss sein*/
	}

#main_head_sub div span a{
	height:55px;
	display:block;
	float:left;
	}
#main_foot_sub div a{
	height:52px;
	display:block;
	float:left;
	}
#main_head_sub div span a span, #main_foot_sub div a span{
	display:none;
	}
	
	

	
	

/* ----------MAIN BODY */



/*
background
*/

#main_wm{
	background:#fff;
	padding:12px 0 0 0;
	clear:both;
	}
#main_wm_sub{
	background:url(../pix/hamburg/tapete.jpg) no-repeat 50% 0;
	position:relative;
	margin: 0 auto 10px auto;
	width:830px; /*breitenangabe muss sein*/
	}
	


/*
content all
*/

#content{
	padding:12px 0 0 150px;
	width:650px;
	}

/*
content: start, wahl
*/
	
#content_head_start{
	height:186px;
	width:510px;
	}
#content_head_start h2{
	display:none;
	}
	
/*-- --start only*/
#content_center_start{
	color:#000;
	background:url(../pix/hamburg/body_cont_ic.jpg) repeat-y;
	padding:0 0 0 0;
	min-height:161px;
	}
h4.start{
	font: bold 0.75em verdana, arial, sans-serif;
	padding:0 0 0 68px;
	width:360px;
	}
#content_center_start div.b1{
	font: normal 0.75em verdana, arial, sans-serif;
	line-height:1.65em;
	padding:15px 0 0 68px;
	width:360px;
	}
h4.start a, #content_center_start div.b1 a{
	color:#000;
	text-decoration:none;
	}
	
#content_center_start div.b2{	
	padding:0 0 4px 0;
	margin:15px 0 0 355px;
	background:url(../pix/hamburg/start.gif) no-repeat;
	height:18px;
	width:79px;
	}
#content_center_start div.b2 a{
	position:absolute;
	top:20px;
	left:170px;
	width:460px;
	height:30em;
	}
#content_center_start div.b2 a span{
	display:none;
	}
/*-- --wahl only*/
#content_center_wahl{
	color:#666;
	background:url(../pix/hamburg/body_cont_ic.jpg) repeat-y;
	padding:0 0 25px 0;
	min-height:140px;
	}
h4.wahl{
	font: normal 0.75em verdana, arial, sans-serif;
	padding:23px 0 0 68px;
	width:360px;
	}
	
#content_center_wahl div.b1, #content_center_wahl div.b2{
	padding:15px 0 0 68px;
	line-height:1.35em;
	width:360px;
	}
#content_center_wahl div.b1{
	font: bold 0.75em verdana, arial, sans-serif;
	}
#content_center_wahl div.b2{
	color:#C75F02;
	font:normal 0.75em verdana, arial, sans-serif;
	}
#content_center_wahl div.b3{
	display:none;
	}
	
/*-- --start + wahl*/
* html #content_center_start, * html #content_center_wahl{/* min height set for ie*/
	overflow:visible;
	height:165px;
	padding:0;
	}

#content_center_b{
	background:url(../pix/hamburg/body_cont_ib.jpg) no-repeat;
	clear:both;
	height:23px;
	}
	
#content_choice{
	padding:5px 0 0 48px;
	background:url(../pix/hamburg/body_cont_ic2.jpg) repeat-y;
	min-height:90px;
	}
* html #content_choice{
	overflow:visible;
	height:90px;
	}
		
#content_choice div span, #content_choice div a{
	line-height:1em;
	color:#fff;
	font:bold 0.7em verdana, arial, sans-serif;
	text-decoration:none;
	}	
	
#content_choice div.b1 span, #content_choice div.b2 span, #content_choice div.b3 span, #content_choice div.b1 a, #content_choice div.b2 a, #content_choice div.b3 a{
	float:left;
	margin: 0 5px 0 0;
	padding:53px 0 0 0;
	width:80px;
	text-align:center;
	}
#content_choice div.b4 span, #content_choice div.b4 a{
	float:right;
	margin: 0 185px 0 0;
	padding:53px 0 0 5px;
	width:8em;
	text-align:left;
	}
* html #content_choice div.b4 span, * html #content_choice div.b4 a{ /*for ie: to prevent the last buttom from line breaking*/
	width:90px;
	}
		
#content_choice div.b5{ /*for firefox: div below the choicebuttons to fill the empty space on very large text*/
	height:1px;
	clear:both;
	}
* html #content_choice div.b5{
	display:none;
	}	
		
/*--all choice*/
#content_choice div a.normal:link, #content_choice div a.normal:visited, #content_choice div span{
	background:url(../pix/hamburg/but_choice_n.gif) no-repeat 50% 0;
	}
#content_choice div a.selected:link, #content_choice div a.selected:visited{
	background:url(../pix/hamburg/but_choice_v.gif) no-repeat 50% 0;
	}
#content_choice div a.normal:hover, #content_choice div a.selected:hover, #content_choice div a.normal:focus, #content_choice div a.selected:focus{
	background:url(../pix/hamburg/but_choice_o.gif) no-repeat 50% 0;
	}
/*--b4 choice only*/
#content_choice div.b4 a.normal:link, #content_choice div.b4 a.normal:visited, #content_choice div.b4 span{
	background:url(../pix/hamburg/but_choice_n.gif) no-repeat 0% 0;
	}
#content_choice div.b4 a.selected:link, #content_choice div.b4 a.selected:visited{
	background:url(../pix/hamburg/but_choice_v.gif) no-repeat 0% 0;
	}
#content_choice div.b4 a.normal:hover, #content_choice div.b4 a.selected:hover, #content_choice div.b4 a.normal:focus, #content_choice div.b4 a.selected:focus{
	background:url(../pix/hamburg/but_choice_o.gif) no-repeat 0% 0;
	}
		
#content_choice_b{
	text-align:right;
	font:normal 0.6em verdana, arial, sans-serif;
	color:#171B1F;
	background:url(../pix/hamburg/body_cont_ib2.jpg) no-repeat;
	padding:23px 164px 10px 0;
	}

/*
content: ergebnis + vorergebnis + statistics
*/

/*-- --head*/
#content_head_e{
	background:url(../pix/hamburg/body_head_e.jpg) no-repeat;
	min-height:501px;
	width:540px;
	}
* html #content_head_e{
	height:501px;
	overflow:visible;
	width:540px;
	}
#content_head_e h2{
	display:none;
	}

/*-- --center*/
#content_center_e{
	background:transparent url(../pix/body_cont_ec.gif) no-repeat;
	padding:96px 0 33px 0;
	}

/*-- --part pic large*/
#content_center_e div.part_picl{
	width:149px;
	height:60px;
	margin:0 0 0 180px;
	}
#content_center_e div.part_picl a{
	display:block;
	width:149px;
	height:60px;
	}
#content_center_e div.part_picl a span{
	display:none;
	}

														/*-- --result table*/

.result_table_border{
	clear:both;
	margin:18px 60px 20px 43px;
	border:#B9C4D1 1px solid;
	}
	
#result_bgcolchange{
	background:#FEF1D5;
	}
#result_table{
	width:430px;	
	float:left;
	}
#result_table div.tablebg1{
	background:#fff repeat-y 0 0;
	}
#result_table div.tablebg2{
	background:#F1F3F6 repeat-y 0 0;
	}
#result_table div.tablebg1, #result_table div.tablebg2{
	min-height:1.2em;
	border:none;
	overflow:visible;
	}
* html #result_table div.tablebg1, * html #result_table div.tablebg2{
	height:1.2em;
	}
#result_table div.tablebg1, #result_table div.tablebg2{ /*to center some subelements vertically, must be an extra div because it wont work in the above "display:table;" defined div*/
	position:relative;
	min-height:1.2em;
	overflow:visible;
	}
* html #result_table div.tablebg1, * html #result_table div.tablebg2{
	height:1.2em;
	}

#result_table div.tablebg1 .headcol1, #result_table div.tablebg1 .headcol2{
	padding:5px 0 15px 10px; 
	font:bold 0.7em verdana, arial, sans-serif;
	float:left;
	}
#result_table div.tablebg1 .headcol1{
	width:203px;
	}	
	
/*--table partei*/
#result_table div.tablebg1 div.contcol_part, #result_table div.tablebg2 div.contcol_part{
	width:190px;
	padding:3px 0 3px 8px;
	margin:0 0 0 215px;
	}
* html #result_table div.tablebg1 div.contcol_part, * html #result_table div.tablebg2 div.contcol_part{
	width:187px;
	}
#result_table div.tablebg1 div.contcol_part a, #result_table div.tablebg2 div.contcol_part a{
	font:bold 0.7em verdana, arial, sans-serif;
	text-decoration:none;
	}
#result_table div.tablebg1 div.contcol_part a:link, #result_table div.tablebg2 div.contcol_part a:link, #result_table div.tablebg1 div.contcol_part a:visited, #result_table div.tablebg2 div.contcol_part a:visited{
	color:#000;
	}
#result_table div.tablebg1 div.contcol_part a:hover, #result_table div.tablebg2 div.contcol_part a:hover, #result_table div.tablebg1 div.contcol_part a:focus, #result_table div.tablebg2 div.contcol_part a:focus{
	color:#86B8F5;
	}
	
/*table bar*/
#result_table div div.contcol_bar1, #result_table div div.contcol_bar2, #result_table div div.contcol_bar3, #result_table div div.contcol_bar4, #result_table div div.contcol_bar5{
	background:#A5B3C4;
	position:absolute;
	left:0;
	top:50%;
	height:0.8em;
	margin:-0.4em 0 0 0;
	}

#result_table div div.contcol_bar1 span, #result_table div div.contcol_bar2 span, #result_table div div.contcol_bar3 span, #result_table div div.contcol_bar4 span, #result_table div div.contcol_bar5 span{
	display:none;
	}
/*table foot*/
#result_table div div.tablefoot{
	line-height:1.6em;
	background:#fff;
	}

h4.result{
	font:bold 1em verdana, arial, sans-serif;
	padding:0 0 5px 0;
	}
	
/* parteiuebereinstimmung*/
.parteiuebereinstimmung{
	font:bold 0.7em verdana, arial, sans-serif;
	float:right;
	width:120px;
	padding:35px 10px 0 0;
	overflow:hidden;
	}
	
	
/*-- --goto*/
#content_center_e div.goto1{
	margin:28px 0 0 39px;
	}
* html #content_center_e div.goto1{
	margin:28px 0 0 19px;
	}
#content_center_e div.goto2{
	margin:28px 0 0 14px;
	}
* html #content_center_e div.goto2{
	margin:28px 0 0 3px;
	}
#content_center_e div.goto1, #content_center_e div.goto2{
	width:201px;
	float:left;
	}
#content_center_e div.goto1 a, #content_center_e div.goto2 a{
	color:#000;
	font:bold 0.7em verdana, arial, sans-serif;
	display:block;
	width:161px;
	height:123px;
	padding:13px 30px 0 20px;
	}
#content_center_e div.goto1 a:link, #content_center_e div.goto1 a:visited{
	background:url(../pix/hamburg/but_goto1_n.gif) no-repeat 3px 0;
	text-decoration:none;
	}
#content_center_e div.goto1 a:hover, #content_center_e div.goto1 a:focus{
	background:url(../pix/hamburg/but_goto1_o.gif) no-repeat 3px 0;
	text-decoration:none;
	}	
#content_center_e div.goto2 a:link, #content_center_e div.goto2 a:visited{
	background:url(../pix/hamburg/but_goto2_n.gif) no-repeat 3px 0;
	text-decoration:none;
	}
#content_center_e div.goto2 a:hover, #content_center_e div.goto2 a:focus{
	background:url(../pix/hamburg/but_goto2_o.gif) no-repeat 3px 0;
	text-decoration:none;
	}

/*-- --statistics*/

#statistics{
	margin:10px 62px 0 44px;
	border:1px solid #B9C4D1;
	}
	
/*--visitors*/
#statistics div.visitors{
	float:left;
	padding:15px 0 0 0;
	width:72px;
	}
#statistics div.visitors div{
	color:#646045;
	font:normal 0.6em verdana, arial, sans-serif;
	padding:40px 0 0 0;
	line-height:1em;
	text-align:right;
	}
	
/*--statbars*/
#statistics div.statbars{
	float:left;
	width:346px;
	margin:10px 0 0 5px;
	background:url(../pix/hamburg/statsbg.gif) repeat-x;
	}
#statistics div.statbars div{
	float:left;
	position:relative;
	height:150px;
	}
#statistics div.statbars div.bar_a, #statistics div.statbars div.bar_b{
	width:8px;
	}
#statistics div.statbars div.bar_a_first, #statistics div.statbars div.bar_b_first{
	width:6px;
	}
#statistics div.statbars div.bar_a div, #statistics div.statbars div.bar_a_first div{
	background:#A5B3C4;
	}
#statistics div.statbars div.bar_b div, #statistics div.statbars div.bar_b_first div{
	background:#7389A3;
	}
#statistics div.statbars div div{
	position:absolute;
	bottom:0px;
	right:0px;
	width:6px;
	height:150px;
	display:block;
	}
#statistics div.statbars div div span{
	display:none;
	}
	
/*--weeks*/
#statistics ul.weeks{
	clear:both;
	padding:2px 0 0 56px;
	height:25px;
	}
#statistics ul.weeks li{
	float:left;
	text-align:right;
	color:#646045;
	font:normal 0.6em verdana, arial, sans-serif;
	width:56px;
	overflow:visible;
	display:block;
	}
	
/*-- --foot*/
#content_foot_e{
	clear:both;
	background:url(../pix/hamburg/body_cont_eb.gif) no-repeat;
	height:39px;
	width:530px;
	}
	
	
/*
content: vergleich + gewichtung
*/

/*-- --head*/
#content_head_w{
	background:url(../pix/hamburg/body_head_w.jpg) no-repeat;
	min-height:501px;
	width:680px;
	}
* html #content_head_w{
	height:501px;
	overflow:visible;
	width:680px;
	}
#content_head_w h2{
	display:none;
	}

/*-- --center*/
#content_center_w{
	background:transparent url(../pix/hamburg/body_cont_wc.gif) no-repeat;
	padding:96px 0 93px 0;
	}

/*-- --pos_choice*/
#content_center_w div.pos_choice{
	position:absolute;
	top:125px;
	right:69px;
	}
* html #content_center_w div.pos_choice{
	right:65px;
	}
#content_center_w div.pos_choice div.b1, #content_center_w div.pos_choice div.b2, #content_center_w div.pos_choice div.b3{
	width:6.5em;
	display:block;
	color:#000;
	font:normal 0.7em verdana, arial, sans-serif;
	}
#content_center_w div.pos_choice div.b1{
	background:url(../pix/but_sel1.gif) no-repeat;
	padding:4px 0 5px 25px;
	}
#content_center_w div.pos_choice div.b2{
	background:url(../pix/but_sel2.gif) no-repeat;
	padding:0 0 5px 25px;
	}
#content_center_w div.pos_choice div.b3{
	background:url(../pix/but_or_p_n.gif) no-repeat 2px 0;
	padding:0 0 0 25px;
	}

	

											/*-- --resultcompare table*/

#resultcompare_table{
	margin:20px 60px 0 43px;
	clear:both;
	border:#B9C4D1 1px solid;
	}
#resultcompare_table div.tablebg1{
	background:url(../pix/hamburg/resulttable_bg1.gif) repeat-y 0 0;
	}
#resultcompare_table div.tablebg2{
	background:url(../pix/hamburg/resulttable_bg2.gif) repeat-y 0 0;
	}
#resultcompare_table div.tablehead{
	background:url(../pix/hamburg/resulttable_bgh.gif) repeat-y 0 0;
	}	

#resultcompare_table div.tablebg1, #resultcompare_table div.tablebg2, #resultcompare_table div.tablehead{
	min-height:1.2em;
	}
* html #resultcompare_table div.tablebg1, * html #resultcompare_table div.tablebg2, * html #resultcompare_table div.tablehead{
	height:1.2em;
	}

/*--table head*/

#resultcompare_table div.tablehead .headcol1, #resultcompare_table div.tablehead .headcol2, #resultcompare_table div.tablehead .headcol3, #resultcompare_table div.tablehead .headcol4, #resultcompare_table div.tablehead .headcol_partei{
	float:left;
	display:block;
	color:#000;
	font:bold 0.7em verdana, arial, sans-serif;
	overflow:hidden;
	padding:5px 0 5px 0;
	}
#resultcompare_table div.tablehead .headcol1{
	width:28px;
	padding:22px 0 5px 8px;
	}
#resultcompare_table div.tablehead .headcol2{
	width:118px;
	padding:22px 0 5px 0;
	}
#resultcompare_table div.tablehead .headcol3{
	width:62px;
	line-height:1.4em;
	text-align:center;
	}
#resultcompare_table div.tablehead .headcol4{
	width:31px;
	text-align:center;
	padding:22px 0 5px 0
	}
#resultcompare_table div.tablehead .headcol_partei{
	width:65px;
	text-align:center;
	padding:1px 0 1px 0;
	}
		
/*--table content*/

/*table num*/
#resultcompare_table div.tablebg1 div.contcol_num, #resultcompare_table div.tablebg2 div.contcol_num{
	width:30px;
	color:#000;
	font:bold 0.7em verdana, arial, sans-serif;
	padding:3px 0 3px 8px;
	float:left;
	}

/*table txt*/
#resultcompare_table div.tablebg1 a.contcol_txt, #resultcompare_table div.tablebg2 a.contcol_txt{
	width:112px;
	color:#6D5162;
	font:normal 0.7em verdana, arial, sans-serif;
	padding:3px 3px 3px 0;
	float:left;
	text-decoration:none;
	}

/*popup text*/	
.overlay{padding:10px 0; display:block; visibility:hidden; position:absolute; z-index:100; background:#fff; width:240px; border:#86B8F5 1px solid;}
.overlay .contcol_num{padding:0; width:30px; color:#000; font:bold 0.7em verdana, arial, sans-serif; float:left;}
.overlay .contcol_txt{padding:0; width:200px; color:#000; font:normal 0.7em verdana, arial, sans-serif; float:left; line-height:1.4em;}
	
/*-- --compare table*/

#compare_bgcolchange{
	background:url(../pix/comparetable_bga.gif) repeat-y;
	}
#compare_table{
	margin:20px 60px 0 43px;
	clear:both;
	border:#B9C4D1 1px solid;
	}
#compare_table div.tablebg1{
	background:url(../pix/hamburg/comparetable_bgw.gif) repeat-y 0 0;
	}
#compare_table div.tablebg2{
	background:url(../pix/hamburg/comparetable_bgo.gif) repeat-y 0 0;
	}
#compare_table div.tablebg1, #compare_table div.tablebg2{
	min-height:1.2em;
	}
* html #compare_table div.tablebg1, * html #compare_table div.tablebg2{
	height:1.2em;
	}

/*--table head*/

#compare_table div.tablebg1 .headcol1, #compare_table div.tablebg1 .headcol2, #compare_table div.tablebg1 .headcol3, #compare_table div.tablebg1 .headcol4, #compare_table div.tablebg1 .headcol5, #compare_table div.tablebg1 .headcol6{
	float:left;
	display:block;
	color:#000;
	font:bold 0.7em verdana, arial, sans-serif;
	overflow:hidden;
	padding:5px 0 5px 0;
	}
#compare_table div.tablebg1 .headcol1{
	width:28px;
	padding:22px 0 5px 8px;
	}
#compare_table div.tablebg1 .headcol2{
	width:252px;
	padding:22px 0 5px 0;
	}
#compare_table div.tablebg1 .headcol3{
	width:62px;
	line-height:1.4em;
	text-align:center;
	}
#compare_table div.tablebg1 .headcol4{
	width:71px;
	line-height:1.4em;
	text-align:center;
	}
#compare_table div.tablebg1 .headcol5{
	width:86px;
	line-height:1.4em;
	text-align:center;
	}
#compare_table div.tablebg1 .headcol6{
	width:65px;
	line-height:1.4em;
	text-align:center;
	}
		
/*--table content*/

/*table num*/
#compare_table div.tablebg1 div.contcol_num, #compare_table div.tablebg2 div.contcol_num{
	width:30px;
	color:#000;
	font:bold 0.7em verdana, arial, sans-serif;
	padding:3px 0 3px 8px;
	float:left;
	}

/*table txt*/
#compare_table div.tablebg1 div.contcol_txt, #compare_table div.tablebg2 div.contcol_txt{
	width:241px;
	color:#000;
	font:normal 0.7em verdana, arial, sans-serif;
	padding:3px 3px 3px 0;
	float:left;
	}

	
															/*-- --weight table*/

#weight_bgcolchange{
	background:url(../pix/weighttable_bga.gif) repeat-y 0 0;
	}
#weight_table{
	margin:20px 60px 0 43px;
	clear:both;
	border:#B9C4D1 1px solid;
	}
#weight_table div.tablebg1{
	background:url(../pix/hamburg/weighttable_bgw.gif) repeat-y 0 0;
	}
#weight_table div.tablebg2{
	background:url(../pix/hamburg/weighttable_bgo.gif) repeat-y 0 0;
	}
#weight_table div.tablebg1, #weight_table div.tablebg2{
	min-height:1.2em;
	}
* html #weight_table div.tablebg1, * html #weight_table div.tablebg2{
	height:1.2em;
	}

/*--table head*/

#weight_table div.tablebg1 .headcol1, #weight_table div.tablebg1 .headcol2, #weight_table div.tablebg1 .headcol3, #weight_table div.tablebg1 .headcol4{
	float:left;
	display:block;
	color:#000;
	font:bold 0.7em verdana, arial, sans-serif;
	overflow:hidden;
	}
#weight_table div.tablebg1 .headcol1{
	width:28px;
	padding:22px 0 5px 8px;
	}
#weight_table div.tablebg1 .headcol2{
	width:356px;
	padding:22px 0 5px 0;
	}
#weight_table div.tablebg1 .headcol3{
	width:70px;
	line-height:1.4em;
	text-align:center;
	padding:5px 0 5px 0;
	}
#weight_table div.tablebg1 .headcol4{
	width:110px;
	line-height:1.4em;
	text-align:center;
	padding:5px 0 5px 0;
	}
	
/*--table content*/

/*table num*/
#weight_table div.tablebg1 div.contcol_num, #weight_table div.tablebg2 div.contcol_num{
	width:30px;
	color:#000;
	font:bold 0.7em verdana, arial, sans-serif;
	padding:3px 0 3px 8px;
	float:left;
	}

/*table txt*/
#weight_table div.tablebg1 div.contcol_txt, #weight_table div.tablebg2 div.contcol_txt{
	width:351px;
	color:#000;
	font:normal 0.7em verdana, arial, sans-serif;
	padding:3px 3px 3px 0;
	display:block;
	float:left;
	}
	
/*table check*/
#weight_table div div.contcol_check{
	float:left;
	width:60px;
	padding:0 0 0 45px;
	}

/*-- --foot*/
#content_foot_w{
	clear:both;
	background:url(../pix/body_cont_wb.jpg) no-repeat;
	height:39px;
	width:655px;
	}
	

/*new elements for weight and compare table*/
.check_green, .check_red, .check_grey, .check_white{margin:3px 0 0 0; float:left; display:block; width:70px; height:13px;}
.check_green_65, .check_red_65, .check_grey_65, .check_white_65{margin:3px 0 0 0; float:left; display:block; width:65px; height:13px;}
.check_green, .check_green_65{background:url(../pix/check_green.gif) no-repeat 50% 0;}
.check_red, .check_red_65{background:url(../pix/check_red.gif) no-repeat 50% 0;}
.check_grey, .check_grey_65{background:url(../pix/check_grey.gif) no-repeat 50% 0;}
.check_white, .check_white_65{background:url(../pix/check_white.gif) no-repeat 50% 0;}
.contcol_partlink{margin:3px 0 0 0; width:86px; height:13px; float:left;}
.contcol_partlink:link, .contcol_partlink:visited{background:url(../pix/but_or_p_n.gif) repeat-y 50% 0;}
.contcol_partlink:hover, .contcol_partlink:focus{background:url(../pix/but_or_p_o.gif) repeat-y 50% 0;}
.contcol_info{margin:3px 0 0 0; width:65px; height:13px; float:left;}
.contcol_info_65{margin:3px 0 0 0; width:30px; height:13px; float:left;}
.contcol_info:link, .contcol_info:visited, .contcol_info_65:link, .contcol_info_65:visited{background:url(../pix/but_or_i_n.gif) repeat-y 50% 0;}
.contcol_info:hover, .contcol_info:focus, .contcol_info_65:hover, .contcol_info_65:focus{background:url(../pix/but_or_i_o.gif) repeat-y 50% 0;}



/*
content: vergleich, gewichtung, ergebnis, zuergebnis, statistik
*/

/*-- --h3 orange*/
h3.orange{
	background:#7389A3;
	color:#fff;
	font:bold 0.7em verdana, arial, sans-serif;
	margin:0 48px 0 31px;
	padding:0 0 5px 12px;
	line-height:13px;
	}

/*legende*/
.legende{float:right; margin:15px 70px 15px 0;}
* html .legende{float:right; margin:15px 40px 0 0;}
.legende div{color:#000; font:normal 0.7em verdana, arial, sans-serif; display:block; padding:0 0 0 22px; margin:0 0 5px 0;}
.legend_green{background:url(../pix/check_green.gif) no-repeat 0 0;}
.legend_red{background:url(../pix/check_red.gif) no-repeat 0 0;}
.legend_grey{background:url(../pix/check_grey.gif) no-repeat 0 0;}
.legend_white{background:url(../pix/check_white.gif) no-repeat 0 0;}

/*-- --intro*/
#content_center_w div.intro, #content_center_e div.intro{
	color:#000;
	font:normal 0.7em verdana, arial, sans-serif;
	width:400px;
	padding:13px 0 0 43px;
	line-height:1.4em;
	}

/*-- --part_pics*/
.part_pics{
	padding:13px 0 60px 41px;
	}
.part_pics li{
	float:left;
	padding:0 8px 0 0;
	}
.part_pics li a{
	width:80px;
	height:56px;
	display:block;
	}
.part_pics li a span{
	display:none;
	}
	
/*-- --back and restart*/
#content_center_w div.back, #content_center_e div.back{
	clear:both;
	position:absolute;
	bottom:40px;
	left:190px;
	width:12em;
	}
#content_center_w div.back_top{
	margin:10px 0 0 40px;
	}
#content_center_w div.next, #content_center_e div.next{
	position:absolute;
	bottom:40px;
	right:200px;
	width:13em;
	}
#content_center_w div.next_stat, #content_center_e div.next_stat{
	position:absolute;
	bottom:40px;
	right:200px;
	width:15em;
	}
#content_center_w div.passresult, #content_center_e div.passresult{
	clear:both;
	position:absolute;
	bottom:100px;
	right:60px;
	width:10em;
	}		
#content_center_w div.stats, #content_center_e div.stats{
	clear:both;
	position:absolute;
	bottom:70px;
	right:60px;
	width:8em;
	}
#content_center_w div.restart, #content_center_e div.restart{
	position:absolute;
	bottom:40px;
	right:60px;
	width:11em;
	text-align:right;
	}
#content_center_w div.restart input.submitbut, #content_center_e div.restart input.submitbut{
	border:0;
	margin:0;
	padding:0 27px 1px 0;
	background:url(../pix/but_restart_n.gif) no-repeat 100% 50%;
	font:normal 0.7em verdana, arial, sans-serif;
	color:#000;
	cursor:pointer;
	height:23px;
	}
* html #content_center_w div.restart input.submitbut, * html #content_center_e div.restart input.submitbut{
	padding:0 5px 1px 0;
	}
#content_center_w div.back_top a, #content_center_w div.back a, #content_center_e div.back a, #content_center_w div.passresult a, #content_center_e div.passresult a, #content_center_w div.stats a, #content_center_e div.stats a, #content_center_w div.next a, #content_center_e div.next a, #content_center_w div.restart a, #content_center_e div.restart a{
	height:19px;
	font:normal 0.7em verdana, arial, sans-serif;
	display:block;
	text-decoration:none;
	}
	
#content_center_w div.back_top a, #content_center_w div.back a, #content_center_e div.back a{
	padding:6px 0 0 28px;
	}
#content_center_w div.passresult a, #content_center_e div.passresult a, #content_center_w div.stats a, #content_center_e div.stats a, #content_center_w div.next a, #content_center_e div.next a, #content_center_w div.restart a, #content_center_e div.restart a{
	padding:6px 30px 0 0;
	text-align:right;
	}
#content_center_e div.next_stat a{
	height:49px;
	font:normal 0.7em verdana, arial, sans-serif;
	display:block;
	text-decoration:none;
	padding:6px 30px 4px 0;
	text-align:right;
	}
#content_center_w div.back_top a:link, #content_center_w div.back_top a:visited, #content_center_w div.back a:link, #content_center_w div.back a:visited, #content_center_e div.back a:link, #content_center_e div.back a:visited{
	background:url(../pix/but_back_n.gif) no-repeat 0 50%;
	color:#000;
	}
#content_center_w div.passresult a:link, #content_center_w div.passresult a:visited, #content_center_w div.stats a:link, #content_center_w div.stats a:visited, #content_center_e div.next a:link, #content_center_e div.next a:visited, #content_center_w div.restart a:link, #content_center_w div.restart a:visited, #content_center_e div.restart a:link, #content_center_e div.restart a:visited{
	background:url(../pix/but_restart_n.gif) no-repeat 100% 50%;
	color:#000;
	}
#content_center_w div.back_top a:hover, #content_center_w div.back_top a:focus, #content_center_w div.back a:hover, #content_center_w div.back a:focus, #content_center_e div.back a:hover, #content_center_e div.back a:focus{
	background:url(../pix/but_back_o.gif) no-repeat 0 50%;
	color:#E79E00;
	}
#content_center_w div.passresult a:hover, #content_center_w div.passresult a:focus, #content_center_w div.stats a:hover, #content_center_w div.stats a:focus, #content_center_e div.next a:hover, #content_center_e div.next a:focus, #content_center_w div.restart a:hover, #content_center_w div.restart a:focus, #content_center_e div.restart a:hover, #content_center_e div.restart a:focus{
	background:url(../pix/but_restart_o.gif) no-repeat 100% 50%;
	color:#E79E00;
	}
	
#content_center_e div.next_stat a:link, #content_center_e div.next_stat a:visited{
	background:url(../pix/but_restart_n.gif) no-repeat 100% 100%;
	color:#000;
	line-height:1.5em;	
	}
#content_center_e div.next_stat a:hover, #content_center_e div.next_stat a:focus{
	background:url(../pix/but_restart_o.gif) no-repeat 100% 100%;
	color:#E79E00;
	line-height:1.5em;
	}
	
	
/*
steps
*/

#steps{
	min-height:2.5em;
	padding:0 0 0 0;
	clear:both;	
	}
* html #steps{
	height:2.5em;
	overflow:visible;
	}
	
#steps ul{
	min-width:33em;
	margin: 0 0 0 -3.5em;
	left:22%;
	position:absolute;
	}
* html #steps ul{
	width:35em;
	margin: 0 0 0 -12.9em;
	left:40%;
	}
	
#steps ul li{
	float:left;
	font: 0.55em verdana, arial, sans-serif;
	padding:15px 0 2px 0;
	}
	
#steps ul li.b_bn{
	background:url(../pix/hamburg/progress_bn.gif) no-repeat right top;
	width:20px;
	height:24px;
	}
#steps ul li.b_bv{
	background:url(../pix/hamburg/progress_bv.gif) no-repeat right top;
	width:20px;
	height:24px;
	}
	
#steps ul li.b_mn{
	color:#ffffff;
	text-decoration:none;
	background:url(../pix/hamburg/progress_mn.gif) repeat-x;
	}
#steps ul li.b_mv{
	color:#414449;
	text-decoration:none;
	background:url(../pix/hamburg/progress_mv.gif) repeat-x;
	}
#steps ul li.b_ma{
	color:#414449;
	text-decoration:none;
	background:url(../pix/hamburg/progress_mv.gif) repeat-x;
	}
	
#steps ul li.b_en{
	background:url(../pix/hamburg/progress_en.gif) no-repeat;
	width:20px;
	height:24px;
	}
#step ul li.b_ev{
	background:url(../pix/hamburg/progress_ev.gif) no-repeat;
	width:20px;
	height:24px;
	}

#steps ul li.b_mv a, #steps ul li.b_ma a, #steps ul li.b_mn span{
	border-left:1px solid #ffffff;
	padding:0 3px 0 3px;
	letter-spacing:-1px;
	width:1px;
	overflow:visible;
	}	
#steps ul li a.first, #steps ul li span.first{
	border-left:0;
	}
#steps ul li.b_mv a{
	color:#414449;
	}
#steps ul li.b_ma a{
	color:#414449;
	background:#fff;
	}
	
#steps ul li.b_bn a, #steps ul li.b_bv a, #steps ul li.b_en a, #step ul li.b_ev a{
	width:20px;
	height:20px;
	display:block;
	}
	
#steps ul li.b_bn a span, #steps ul li.b_bv a span, #steps ul li.b_en a span, #step ul li.b_ev a span{
	display:none;
	}
	
#steps ul li a:link, #steps ul li a:visited{
	text-decoration:none;
	}
#steps ul li a:hover, #steps ul li a:focus{
	text-decoration:underline;
	}
	


/*
left nav
*/

/*normal*/
#leftnav_normal{
	clear:both;
	position:absolute;
	top:273px;
	left:10px;
	width:135px;
	padding:0 0 10px 0;
	}
	
/*fixed*/
#leftnav_fixed{
	clear:both;
	position:absolute;
	top:504px;
	left:10px;
	width:135px;
	}
* html #leftnav_fixed{
	top:497px;
	}	
#leftnav_fixed_sub{
	position:absolute;
	bottom:0px;
	}
/*links for normal and fixed*/
#leftnav_normal div ul li a:link, #leftnav_normal div ul li a:visited, #leftnav_normal div ul li a:active, #leftnav_fixed_sub div ul li a:link, #leftnav_fixed_sub div ul li a:visited, #leftnav_fixed_sub div ul li a:active{
	color:#805D25;
	font: 0.6em verdana, arial, sans-serif;
	text-decoration:none;
	}
#leftnav_normal div ul li a:hover, #leftnav_normal div ul li a:focus, #leftnav_normal div ul li a:active, #leftnav_fixed_sub div ul li a:hover, #leftnav_fixed_sub div ul li a:focus, #leftnav_fixed_sub div ul li a:active{
	color:#C68B39;
	font: 0.6em verdana, arial, sans-serif;
	text-decoration:none;
	}
/*general*/
#leftnav_p1{
	padding:0 0 0.2em 0;
	}

#leftnav_p1 ul li a{
	display:block;
	padding:0.4em 0 0 23px;
	min-height:16px;
	}
* html #leftnav_p1 ul li a{
	height:13px;
	}
#leftnav_p1 ul li.b1 a:link, #leftnav_p1 ul li.b1 a:visited{
	background:url(../pix/but_or_ar_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b1 a:hover, #leftnav_p1 ul li.b1 a:focus{
	background:url(../pix/but_or_ar_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b2 a:link, #leftnav_p1 ul li.b2 a:visited{
	background:url(../pix/but_wh_dw_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b2 a:hover, #leftnav_p1 ul li.b2 a:focus{
	background:url(../pix/but_wh_dw_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b3 a:link, #leftnav_p1 ul li.b3 a:visited{
	background:url(../pix/but_wh_ph_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b3 a:hover, #leftnav_p1 ul li.b3 a:focus{
	background:url(../pix/but_wh_ph_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b4 a:link, #leftnav_p1 ul li.b4 a:visited{
	background:url(../pix/but_wh_c_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b4 a:hover, #leftnav_p1 ul li.b4 a:focus{
	background:url(../pix/but_wh_c_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b5 a:link, #leftnav_p1 ul li.b5 a:visited{
	background:url(../pix/but_wh_qm_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b5 a:hover, #leftnav_p1 ul li.b5 a:focus{
	background:url(../pix/but_wh_qm_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b6 a:link, #leftnav_p1 ul li.b6 a:visited{
	background:url(../pix/but_wh_i_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b6 a:hover, #leftnav_p1 ul li.b6 a:focus{
	background:url(../pix/but_wh_i_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b7 a:link, #leftnav_p1 ul li.b7 a:visited{
	background:url(../pix/but_wh_br_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b7 a:hover, #leftnav_p1 ul li.b7 a:focus{
	background:url(../pix/but_wh_br_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b8 a:link, #leftnav_p1 ul li.b8 a:visited{
	background:url(../pix/but_wh_pa_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b8 a:hover, #leftnav_p1 ul li.b8 a:focus{
	background:url(../pix/but_wh_pa_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b9 a:link, #leftnav_p1 ul li.b9 a:visited{
	background:url(../pix/but_wh_nu_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b9 a:hover, #leftnav_p1 ul li.b9 a:focus{
	background:url(../pix/but_wh_nu_o.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b10 a:link, #leftnav_p1 ul li.b10 a:visited{
	background:url(../pix/but_wh_we_n.gif) no-repeat 0 0.1em;
	}
#leftnav_p1 ul li.b10 a:hover, #leftnav_p1 ul li.b10 a:focus{
	background:url(../pix/but_wh_we_o.gif) no-repeat 0 0.1em;
	}
	
/*
skin select
*/

#skinselect{
	background:#fff;
	clear:both;
	position:absolute;
	top:140px;
	left:10px;
	width:138px;
	padding:10px 2px 10px 5px;
	border:1px solid #FFE7B3;
	
	font: 0.6em verdana, arial, sans-serif;
	}
#skinselect .toptext{
	color:#000;
	padding:0 0 0 0;
	}
#skinselect .skins{
	background:url(../pix/but_or_ar_n.gif) no-repeat;
	display:block;
	color:#835D25;
	margin:10px 0 0 0;
	padding:2px 0 0 25px;
	min-height:1px;
	}
#skinselect .skins a{
	text-decoration:none;
	}

#skinselect .skins a:link, #skinselect .skins a:visited{
	color:#835D25;
	}
#skinselect .skins a:hover, #skinselect .skins a:focus{
	color:#C75F02;
	}
	
	
/*
subsites
*/
#subsites{
	background:#fff;
	}
#subsites .orange{
	background:#7389A3;
	color:#fff;
	font:bold 0.7em verdana, arial, sans-serif;
	margin:1px 0 10px 0;
	padding:4px 10px 7px 10px;
	min-height:13px;
	max-height:23px;
	line-height:13px;
	}
	
#subsites .text_normal, #subsites .list_normal{
	color:#000;
	font:normal 0.7em verdana, arial, sans-serif;
	padding:0 10px 15px 10px;
	line-height:1.4em;
	}

#subsites .text_normal .bold{
	font-weight:bold;
	}
#subsites .text_normal .link_normal{
	color:#805D25;
	}
#subsites .text_normal .link_jump{
	color:#805D25;
	background:url(../pix/hamburg/arrow1_up.gif) no-repeat 0px 75%;
	padding:0 0 0 15px;
	margin:0 0 15px 0;
	}
		
#subsites .list_normal li{
	height:100%;
	}
#subsites .list_normal .indent{
	padding:0 0 0 17px;
	}
#subsites .list_normal li .link_list{
	background:url(../pix/hamburg/arrow1_right.gif) no-repeat 0px 50%;
	padding:0 0 0 15px;
	color:#805D25;
	display:block;
	margin:0 0 15px 0;
	}
#subsites .text_normal .link_normal:link, #subsites .text_normal .link_normal:visited, #subsites .list_normal li .link_list:link, #subsites .list_normal li .link_list:visited, #subsites .text_normal .link_jump:link, #subsites .text_normal .link_jump:visited{
	text-decoration:none;
	}
#subsites .text_normal .link_normal:hover, #subsites .text_normal .link_normal:focus, #subsites .list_normal li .link_list:hover, #subsites .list_normal li .link_list:focus, #subsites .text_normal .link_jump:hover, #subsites .text_normal .link_jump:focus{
	text-decoration:underline;
	}
	
#subsites h2.text_bold{
	color:#000;
	font:bold 0.7em verdana, arial, sans-serif;
	padding:0 10px 0 10px;
	line-height:1.4em;
	}
	
#subsites .pic1{
	padding:9px 0 4px 10px;
	}
	
	
/*
intro
*/

#intro_main{
	background:#fff;
	padding:22px 0 0 0;
	clear:both;
	}
#intro_sub{
	position:relative;
	margin: 0 auto 10px auto;
	width:830px; /*breitenangabe muss sein*/
	padding:20px 0 0 47px;
	}

#intro_sub h1.text_red{
	padding:0 0 0 7px;
	font:bold 1em verdana, arial, sans-serif;
	color:#961734;
	}
#intro_sub .text_normal{
	padding:0 0 0 7px;
	font:normal 0.7em verdana, arial, sans-serif;
	color:#000;
}
#intro_sub .b1, #intro_sub .b2, #intro_sub .b3{
	padding:20px 0 0 0;
	float:left;
	}
	
#intro_sub .b1 a, #intro_sub .b2 a, #intro_sub .b3 a{
	font:bold 0.7em verdana, arial, sans-serif;
	color:#961734;
	width:227px;
	padding:228px 33px 0 10px;
	display:block;
	}
#intro_sub .b1 a:link, #intro_sub .b1 a:visited, #intro_sub .b2 a:link, #intro_sub .b2 a:visited, #intro_sub .b3 a:link, #intro_sub .b3 a:visited{
	text-decoration:none;
	}
#intro_sub .b1 a:hover, #intro_sub .b1 a:focus, #intro_sub .b2 a:hover, #intro_sub .b2 a:focus, #intro_sub .b3 a:hover, #intro_sub .b3 a:focus{
	text-decoration:underline;
	}
	
#intro_sub .b1 a{
	background:url(../pix/intro_rlp.gif) no-repeat;
	}
#intro_sub .b2 a{
	background:url(../pix/intro_bawu.gif) no-repeat;
	}
#intro_sub .b3 a{
	background:url(../pix/intro_saan.gif) no-repeat;
	}