/* Footer immer */
.foottext1  {clear:all; font:normal 0.6em verdana,   arial,   sans-serif; float:left;}

/* Reihe 1 */
#main_foot_sub div.b1 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 0px; width:64px; height:45px;}
#main_foot_sub div.b2 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -45px; width:123px; height:45px;margin-left:18px;}
#main_foot_sub div.b3 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -90px; width:74px; height:45px;margin-left:19px;}
#main_foot_sub div.b4 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -135px; width:124px; height:45px;margin-left:20px;}
#main_foot_sub div.b5 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -180px; width:84px; height:45px;margin-left:16px;}
#main_foot_sub div.b6 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -415px; width:69px; height:45px;margin-left:18px;}
#main_foot_sub div.b7 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -225px; width:115px; height:45px;margin-left:23px;}

/* Reihe 2 */
#main_foot_sub div.b8 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -270px; width:116px; height:45px;}
#main_foot_sub div.b9 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -720px; width:53px; height:45px;margin-left:21px;}
#main_foot_sub div.b10 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -675px; width:103px; height:45px;margin-left:27px;}
#main_foot_sub div.b11 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -540px; width:58px; height:45px;margin-left:19px;}
#main_foot_sub div.b12 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -450px; width:92px; height:45px;margin-left:26px;}
#main_foot_sub div.b13 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -495px; width:67px; height:45px;margin-left:26px;}
#main_foot_sub div.b14 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -360px; width:136px; height:45px;margin-left:23px;}

/* Reihe 3 */
#main_foot_sub div.b15 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -585px; width:41px; height:45px;}
#main_foot_sub div.b16 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -630px; width:104px; height:45px;margin-left:31px;}
#main_foot_sub div.b17 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -1215px; width:101px; height:45px;margin-left:25px;}
#main_foot_sub div.b18 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -315px; width:59px; height:45px;margin-left:25px;}
#main_foot_sub div.b19 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -765px; width:120px; height:45px;margin-left:26px;}
#main_foot_sub div.b20 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -810px; width:61px; height:45px;margin-left:25px;}
#main_foot_sub div.b21 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -855px; width:115px; height:45px;margin-left:23px;}

/* Reihe 4 */
#main_foot_sub div.b22 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -900px; width:127px; height:45px;}
#main_foot_sub div.b23 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -945px; width:117px; height:45px;margin-left:10px;}
#main_foot_sub div.b24 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -990px; width:85px; height:45px;margin-left:26px;}
#main_foot_sub div.b25 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -1035px; width:56px; height:45px;margin-left:24px;}
#main_foot_sub div.b26 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -1080px; width:67px; height:45px;margin-left:28px;}
#main_foot_sub div.b27 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -1125px; width:57px; height:45px;margin-left:35px;}
#main_foot_sub div.b28 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -1170px; width:67px; height:45px;margin-left:32px;}

/* N-TV */
#main_foot_sub div.b29 a {background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -1260px; width:69px; height:45px;margin-left:15px;}

/* Reihe 5 */

