/* Footer immer */
.foottext1  {clear:all; font:normal 0.6em verdana,   arial,   sans-serif; float:left;}

/* Reihe 1 
    ZDF
    SPIEGEL
    FAZ
    TAZ
    WELT
    T-Online
    ZEIT
    RZ
    GA
*/
#main_foot_sub div.b1 a {margin-left:0px; background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 0px; width:64px; height:45px;}
#main_foot_sub div.b2 a {margin-left:46px; background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -45px; width:137px; height:45px;}
#main_foot_sub div.b3 a {margin-left:47px; background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -90px; width:82px; height:45px;}
#main_foot_sub div.b4 a {margin-left:50px; background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -135px; width:115px; height:45px;}
#main_foot_sub div.b5 a {margin-left:44px; background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -180px; width:138px; height:45px;}

#main_foot_sub div.b6 a {margin-left:0px; background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -225px; width:142px; height:45px;}
#main_foot_sub div.b7 a {margin-left:57px; background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -270px; width:150px; height:45px;}
#main_foot_sub div.b8 a {margin-left:57px; background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -315px; width:118px; height:45px;}
#main_foot_sub div.b9 a {margin-left:57px; background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -360px; width:143px; height:45px;}

#main_foot_sub div.b10 a {margin-left:0px; background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -405px; width:67px; height:45px;}
#main_foot_sub div.b11 a {margin-left:50px; background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -450px; width:105px; height:45px;}
#main_foot_sub div.b12 a {margin-left:50px; background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -495px; width:68px; height:45px;}
#main_foot_sub div.b13 a {margin-left:50px; background:url(../pix_change/logos_v1_02.jpg) no-repeat 0 -540px; width:134px; height:45px;}

