body,
#wommain .dialog__window,
#wommain .party-comparison #party-comparison__modal .dialog__window {
	/* background-image: url(../images/trianglesmaller.png); */
}

#wommain {
  overflow-x: hidden;
}

#wommain span.checkbox__square.checkbox_disabled {
  background-color:#888;
  border: 2px solid #ddd;  
}

#wommain p.tuning-disable-uebereinstimmung {
  display:none;
}

#wommain .footer__top--intro {
  flex-direction: row !important;
}

#wommain .results__info {
  width: inherit !important;
}

#wommain .party-comparison header p {
  max-width: inherit !important;
  margin-top: 20px !important;
  font-weight: inherit !important;
}

#wommain .parties-pisition .glide__tooltip {
  max-width: 240px;
  height: auto;
  white-space: inherit;
}

#wommain .party-selection .party-selection__list-item .tooltip {
  max-width: 240px;
  height: auto;
  white-space: normal;
  width: max-content;
}

#wommain .parties-pisition .glide__slide .tooltip {
  top:30%;
  z-index:3
}

/*
#wommain [data-tooltip-context].focus-visible .tooltip {
  opacity: 1;
  transition: transform .2s ease-in,opacity .2s ease-in;
  transition-delay: 0s, 0s;
  transition-delay: .2s;
}
*/

#wommain a.wom_link_normal {
  text-decoration:underline;
}

.glide__slides {
  position: relative;
}

.footer a {
  display: inline-block;
}

#survey-toggle[aria-expanded="true"] {
  display: none;
}

#wommain ul.wom-faq-liste,
#wommain ul.wom-faq {
  border: none;
  margin-top: 20px;
}

#wommain ul.wom-bitv-liste {
  font-weight: 600;
}

#wommain ul.wom-faq-liste li,
#wommain ul.wom-faq-liste li:last-child,
#wommain ul.wom-faq li,
#wommain ul.wom-faq li:last-child {
  border: none;
  padding-top:5px;
  padding-bottom:15px;
  margin-left:20px;
  padding-left:5px;
  list-style:disc;
  list-style-type:disc;
}

#wom-meldung-keine-parteien {
  margin-top:20px;
}


#wommain .parties-pisition ol.party__reasons,
#wommain .parties-pisition ol.party__reasons li,
#wommain .parties-pisition ol.party__reasons li::before {
    list-style: none !important;
    list-style-type: none !important;    
    list-style-position: inside !important;
}

.womicon-skip {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("../icons/vorspulen.svg");
  background-size: cover;
}

.womicon-back {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("../icons/zurueck.svg");
  background-size: cover;
}

#wommain .readspeaker__control-btn.focus-visible i.womicon-skip:before,
#wommain .readspeaker__control-btn:hover i.womicon-skip:before,
#wommain .readspeaker__control-btn.focus-visible i.womicon-back:before,
#wommain .readspeaker__control-btn:hover i.womicon-back:before {
  content: none;
}

#wommain .readspeaker__control-btn.focus-visible i.womicon-skip,
#wommain .readspeaker__control-btn:hover i.womicon-skip {
  background-image: url("../icons/vorspulen_hover.svg");
}

#wommain .readspeaker__control-btn.focus-visible i.womicon-back,
#wommain .readspeaker__control-btn:hover i.womicon-back {
  background-image: url("../icons/zurueck_hover.svg");
}

#wommain .readspeaker__control-btn.focus-visible i.icon-pause:before,
#wommain .readspeaker__control-btn:hover i.icon-pause:before {
  content:"";
}

.readspeaker__control.is-active {
  display: flex !important;
}

.readspeaker__control-btn {
  margin: 0 1px;
}

.is-hidden {
  display: none !important;
}

.wom-partner-logo {
  background-image: url('../../version/logos_v1_00.png');
  background-repeat: no-repeat;
  display: block;
}

#wommain .readspeaker div.tooltip {
  opacity: 0;
}

.dialog__tab-item.is-active {
  border: 1px solid #000;
}

#wommain .theses__slider li.is-hovered .glide__bullet.is-danger,
#wommain .theses__slider li.is-hovered .glide__bullet.is-success, 
#wommain .theses__slider li.is-hovered .glide__bullet.is-skip {
  border: 1px solid #000 !important;
}

#wommain #party-comparison__modal .traffic-light.traffic-light--success,
#wommain #party-comparison__modal .traffic-light.traffic-light--danger {
  border: 1px solid #000 !important;
}

#wommain .party-comparison__spot .party-comparion__empty-spot {
  opacity: 1;
  background-color: #b8830b;
}

#wommain #party-comparison__modal .dialog__tab-item.is-active {
  border: 1px solid #000 !important;
}

#wommain .parties-reason .party-reason__panel .traffic-light.traffic-light--success,
#wommain .parties-reason .party-reason__panel .traffic-light.traffic-light--danger {
  border: 1px solid #000 !important;
}



#wommain .partner .partner__list-item {
  overflow:hidden;
}

#wommain .partner .partner__list-item[data-tooltip-active] {
  overflow:visible;
}

#wommain .partner .tooltip {  
  width:150px !important;
  white-space:inherit;
}

#wommain .tuning__list-wrapper.no-result {
  width: 100%;
}

#wommain .tuning__list-wrapper.no-result .tuning__text.no-result {
  width: auto;
}

#wommain .tuning__list-wrapper.no-result .tuning__text.no-result p {
  width:90%;
}

#wommain #tuning-checkbox-label.checkbox--disabled {
  display:none
}

#wommain .traffic-light--skip--outline::before {
  width: 88%;
  height: 88%;
}

/*
#wommain .party-comparison header {
  padding-right: 0px;
  padding-left: 0px;
}

*/

#wommain .tuning__list-outer {
  max-height:3000px !important; 
}

html {
  overflow:visible !important;
}

/*
#wommain .party-comparison__buttons {
  display: inline-table;
  width: 100%;
}

#wommain .party-comparison__buttons.is-sticky::before {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
}

#wommain .party-comparison__buttons.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  max-width: 100vw;
  background-color: #ffb600;
  background-color: var(--c-orange);
}

#wommain .party-comparison__buttons .party-comparison__buttons_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#wommain .party-comparison__buttons .party-comparison__buttons_row .party-comparison__thesis-col {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: .5rem;
  padding-bottom: calc(10/var(--font-size)*1rem);
  pointer-events: none;
  width: 51%;
  font-weight: 700;
  font-size: 1.6rem;
  font-size: calc(32/var(--font-size)*1rem);
  text-align: left;
}

#wommain .party-comparison__buttons .party-comparison__buttons_row .party-comparison__party-col {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: .5rem;
    padding-bottom: calc(10/var(--font-size)*1rem);
    pointer-events: none;
    position: relative;
    align-items: flex-end;
    width: 16%;
}

#wommain .party-comparison__buttons.is-sticky .party-comparison__buttons_row {
  width: 100%;
  max-width: 1448px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 74px;
  padding-left: 74px;
}

#wommain .party-comparison__buttons.is-sticky .party-comparison__buttons_row .pcbr__col {
  padding-top: .25rem;
  padding-top: calc(5/var(--font-size)*1rem);
  padding-bottom: .25rem;
  padding-bottom: calc(5/var(--font-size)*1rem);
}

*/

#wommain .button--big,
#wommain li.tabs__list-item button.tabs__button {
   line-height: 1.50;
}

@media screen and (max-width:1199px) {
  #wommain .button--big {
    line-height: 1.75rem;
    line-height: calc(35/var(--font-size)*1rem);    
  }
}

#wommain .tuning__list-wrapper {
  overflow-x: hidden;
}

#wommain .results__text p.second,
#wommain .party__panel-infobox p.second {
  margin-top:20px;
}

#wommain a.party-selection__more-link.first-link {
  margin-bottom: 0.75rem;
}

#wommain a.link--right.first-link {
  margin-bottom: 0.75rem;
}

/* Platz fuer Mouse-Over bei audio */
#wommain .footer__top:only-child {
  margin-bottom: 60px;
}