/* Footer immer */
.foottext1  {clear:all; font:normal 0.6em verdana,   arial,   sans-serif; float:left;}

/* Reihe 1 im Jpg
    ZDF
    SPIEGEL
    FAZ
    T-Online
    ZEIT
    
    SZ
    TAZ
    WIWO
    HANDELSBLATT
    GA
    
    MT
    RP
    WELT
    MSN
    Der Westen
    Koeln
    DLF
    1LIVE

Im Footer:
    ZDF
    SPIEGEL
    FAZ
    ZEIT
    TAZ    
    Koeln
    -
    WELT 
    T-ONLINE
    HANDELSBLATT
    RP-ONLINE
    WIWO
    -
    GA
    MT
    SZ
    MSN
    -
    DLF
    1LIVE
    
*/
#main_foot_sub div.b1 a {margin-left:0px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 0px; width:63px; height:45px;}
#main_foot_sub div.b2 a {margin-left:27px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -45px; width:136px; height:45px;}
#main_foot_sub div.b3 a {margin-left:26px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -90px; width:81px; height:45px;}
#main_foot_sub div.b4 a {margin-left:25px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -225px; width:134px; height:45px;}
#main_foot_sub div.b5 a {margin-left:28px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -270px; width:115px; height:45px;}
#main_foot_sub div.b6 a {margin-left:27px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -675px; width:58px; height:45px;}

#main_foot_sub div.b7 a {margin-left:0px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -540px; width:137px; height:45px;}
#main_foot_sub div.b8 a {margin-left:28px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -180px; width:140px; height:45px;}
#main_foot_sub div.b9 a {margin-left:35px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -630px; width:121px; height:45px;}
#main_foot_sub div.b10 a {margin-left:30px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -135px; width:137px; height:45px;}
#main_foot_sub div.b11 a {margin-left:24px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -585px; width:68px; height:45px;}

#main_foot_sub div.b12 a {margin-left:0px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -405px; width:155px; height:45px;}
#main_foot_sub div.b13 a {margin-left:31px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -450px; width:164px; height:45px;}
#main_foot_sub div.b14 a {margin-left:33px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -360px; width:107px; height:45px;}
#main_foot_sub div.b15 a {margin-left:42px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -315px; width:67px; height:45px;}
#main_foot_sub div.b16 a {margin-left:42px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -495px; width:78px; height:45px;}

#main_foot_sub div.b17 a {margin-left:0px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -720px; width:140px; height:45px;}
#main_foot_sub div.b18 a {margin-left:37px; background:url(../pix_change/logos_v1_00.jpg) no-repeat 0 -765px; width:68px; height:45px;}

