/* Footer immer */
	.wom_foottext1  {clear:all; font:normal 0.6em verdana,   arial,   sans-serif; float:left;}
	div.wom_footer div a {height:80px; display:block; float:left;}
	div.wom_footer div a span  {display:none;}
	div.wom_footer div.wom_bpartner a {margin-left:0px; background:url(../pix_change/logo_partner.png) no-repeat 0 0px; width:420px; height:80px;}
	
@media screen and (max-width: 450px){
    div.wom_footer div.wom_bpartner a { 
        width:100%;
        background-size:100% auto;
    };
}