
#wom.static_phone .wom_parteien_list li:not(.wom_clone_pbox) {width: 23.5%;}
.wom_parteien_list li:not(.wom_clone_pbox) {width: 18.2%;}
#wom.static_tablet .wom_parteien_list li:not(.wom_clone_pbox) {width: 18.2%;}

@media screen and (max-width: 630px){
    .wom_parteien_list li:not(.wom_clone_pbox) {width: 23.5%;}
}
.wom_clone_pbox .wom_pbox.wom_pboxpos2 .wom_box_pfeil {left:121px;}
.wom_clone_pbox .wom_pbox.wom_pboxpos3 .wom_box_pfeil {left:222px;}
.wom_clone_pbox .wom_pbox.wom_pboxpos4 .wom_box_pfeil {left:323px;}
.wom_clone_pbox .wom_pbox.wom_pboxpos5 .wom_box_pfeil {left:424px;}    
