div.checkbox_wrap input {vertical-align:middle; width:14px; height:14px;}
div.buttons_neu div.buttons_links div.button {background-position:-5px 0; padding:0 0 0 4px;}
div.buttons_neu div.button a.button_zurueck:link, div.buttons_neu div.button a.button_zurueck:visited {position:static; background-image:none; padding:0; padding-left:10px; padding-right:10px;}
div.buttons_neu div.button span{display:none;}

div.buttons_neu div.buttons_rechts div.button {background-position:0 0; padding:0 0 0 4px;}
div.buttons_neu div.button a.button_weiter:link, div.buttons_neu div.button a.button_weiter:visited {position:static; background-image:none; padding:0; padding-left:10px; padding-right:10px; }

#content_center_w .intro .text {float:left;}
#content_center_w .intro .legende {position:static; float:left; margin:0 0 0 17px;}
#content_center_w_breit .intro .legende {bottom:20px;}

#content_center_e {background:transparent url(../pix/body_cont_ec.gif) no-repeat 6px -50px;}